<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>{% block title %}Project name{% endblock %}</title>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="icon" href="{{asset('bundles/insurancecontent/images/favicon.ico')}}"/>
<link href="{{asset('bundles/insurancecontent/css/reset.css')}}" rel="stylesheet" type="text/css" />
<link href="{{asset('bundles/insurancecontent/css/jquery-ui.css')}}" rel="stylesheet" type="text/css" />
<link href="{{asset('bundles/insurancecontent/css/modals.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{asset('bundles/insurancecontent/css/style.css')}}" rel="stylesheet" type="text/css" />
<link href="{{asset('bundles/insurancecontent/css/fixes.css')}}" rel="stylesheet" type="text/css" />
<!--[if IE 7]><link href="{{asset('bundles/insurancecontent/css/ie7_style.css')}}" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 8]><link href="{{asset('bundles/insurancecontent/css/ie8_style.css')}}" rel="stylesheet" type="text/css" /><![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{asset('bundles/insurancecontent/js/modals.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/insurancecontent/js/jquery.tinyscrollbar.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/insurancecontent/js/styled.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/insurancecontent/js/main.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/insurancecontent/js/jquery.ui.datepicker-ru.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/insurancecontent/js/jquery-ui-1.10.3.custom.min.js')}}"></script>
<meta name="google-site-verification" content="KphLHCVcFBVTUhTs5v4hW7DBjJ02g2b9Se5Xu2yZ2PI" />
{%block head_scripts%}
{% endblock %}
<script type="text/javascript">
	jQuery(function($){
		$('body').on('click', '.call_link', function(e){
			e.preventDefault();
			$('#call_modal').modal().open();
		});

		$('body').on('click', '.question_link', function(e){
			e.preventDefault();
			$('#question_modal').modal().open();
		});
		$('.modal .close').on('click', function(e){
			e.preventDefault();
			$.modal().close();
		});
	});
</script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#scrollbar1').tinyscrollbar({ sizethumb: 50 });
        $('#scrollbar2').tinyscrollbar({ sizethumb: 47 });
        $('#scrollbar3').tinyscrollbar({ sizethumb: 47 });
        $('#scrollbar4').tinyscrollbar({ sizethumb: 47 });
        //Handle modal windows button clicks
        $('#success_modal .form_grey_button, #error_modal .form_grey_button').on('click', function(){
            window.location = '{{path('homepage')}}';
            $.modal().close();
        });
        $('#success_modal .form_green_button, #error_modal .form_green_button').on('click', function(){
            if ('{{path('step3')}}' == window.location.pathname) window.location = '{{path('step1')}}#clear';
            $.modal().close();
        });
	});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46321035-1', 'polismarket.com.ua');
  ga('send', 'pageview');

</script>
</head>


<body{% if (path(app.request.attributes.get('_route')) == path('homepage'))%} class="index"{% endif %}> <!-- .index for index-page only -->
	<section class="layout">

    	<header>
        	<div class="limit">
            	<a href="{{path('insurance_content_homepage')}}" class="logo"></a>
                <div class="center_part">
				    <span class="callnow">Звоните сейчас</span>
                    <span class="phone_ico"></span>
                    <div class="phone_number"><span class="code">067</span>426 4411 <!-- <span class="hours24">24/7</span>--></div>
                    <div class="grey_button call_me call_link"><!-- <span></span>-->заказать звонок</div>
                    <!-- <div class="grey_button write_in_skype"><span></span>Написать в Skype</div>-->
                    <div style="clear: both;"></div>
                </div>
                <div class="login-area">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                        {#Здравствуйте {{app.user.firstname}}!#} <div class="personal_office login_link"><span></span><a href="{{path('fos_user_security_logout')}}">Выйти</a></div>
                {% else %}
                <div class="personal_office login_link"><span></span>Личный офис</div>
                {% endif %}
                </div>
                <div style="clear: both;"></div>
                <ul class="main_menu">
                    <li>
                        <a href="{{path('homepage')}}">
                            <span class="home"></span>
                            <span class="delim"></span>
                        </a>

                    </li>
                    <li>
                        <a href="{{path('step1')}}">Калькулятор ОСАГО<span class="delim"></span></a>
                    </li>

                    <li>
                        <a href="{{path('osago-info')}}">Полезно знать<span class="arrow"></span><span class="delim"></span></a>
						<ul class="inner_menu">
                            <li>
                                <a href="{{path('osago-info')}}">Что такое ОСАГО?<span class="delimiter"></span></a>
                                <div class="shadow"></div>
                            </li>
                            <li><a href="{{path('event-info')}}">Страховой случай<span class="delimiter"></span></a></li>
                        </ul>
						</li>
                    <li>
                        <a href="{{path('about')}}">Кто мы такие?<span class="arrow"><span class="delim"></span></a>
						<ul class="inner_menu">
						    <li><a href="{{path('about')}}">О проекте<span class="delimiter"></span></a>
                                <div class="shadow"></div>
                            </li>
                            <li><a href="{{path('partner')}}">О нашем страховом партнере<span class="delimiter"></span></a></li>
							<li><a href="{{path('faq')}}">Центр помощи<span class="delimiter"></span></a></li>
							<li><a href="{{path('contacts')}}">Контакты<span class="delimiter"></span></a></li>
							</ul>
                    </li>
					<div class="shadow"></div>
                </ul>
        	</div>
        </header>
{%block content%}
        {% endblock %}
    <footer>
    	<div class="limit">
            <div class="column first">
                <div class="title">О нас</div>
                <a href="{{path('about')}}"><span></span>О проекте</a>
                <a href="{{path('contacts')}}"><span></span>Контакты</a>
                <a href="#" class="call_link"><span></span>Обратный звонок</a>
				<a href="#" class="question_link"><span></span>Задать вопрос</a>
            </div>
            <div class="column second">
                <div class="title">Меню</div>
                <a href="{{path('step1')}}"><span></span>Калькулятор ОСАГО</a>
                <a href="{{path('faq')}}"><span></span>Центр помощи</a>
                <a href="{{path('osago-info')}}"><span></span>Все об ОСАГО</a>
				<a href="{{path('event-info')}}"><span></span>Страховой случай</a>
            </div>
            <div class="column third">
                <div class="title">Мы на связи</div>
				<div class="third_down">
                <div class="email"><strong>Напишите нам:</strong> sale@polismarket.com.ua</div>
				<div class="tel"><strong>Позвоните нам:</strong> (067) 426-44-11</div>
                <div class="social_buttons">
				    <a href="" class="tw"></a>
				    <a href="" class="fb"></a>
                    <a href="" class="vk"></a>
					</div>
                    <div style="clear: both;"></div>
					</div>
                </div>

            <div style="clear: both;"></div>
         </div>
         <div class="bottom_part">
            <div class="limit">
                <a href="" class="footer_logo"></a>
                <div class="copyright">© 2013 ПолисМаркет<br />Все права защищены законом</div>
                <div class="counter_container"><!-- <a href="{{path('privacypolicy')}}">Политика конфиденциальности</a> --></div>
                <div style="clear: both;"></div>
            </div>
         </div>
    </footer>

<!-- PASS MODAL -->
<div class="modal" id="pass_modal" style="display: none;">
    <div class="close"></div>
    <div class="title">Восстановление пароля</div>
    <div class="form-container"></div>
</div>

{% include 'InsuranceContentBundle:Form:feedback_form.html.twig' %}
{% include 'InsuranceContentBundle:Form:callback_form.html.twig' %}
<!-- SUCCESS MODAL -->
<div class="modal" id="success_modal" style="display: none;">
    <div class="information_box">
        <div class="ico"></div>
        <div class="inform_title">Спасибо, Ваш заказ принят.</div>
        <div class="inform_text"></div>
        <!--Наш менеджер свяжется с Вами в ближайшее время.-->
    </div>
    <div class="form_grey_button">На главную</div>
    <div class="form_green_button">Новый расчет</div>
    <div style="clear: both;"></div>
</div>


<!-- ERROR MODAL -->
<div class="modal" id="error_modal" style="display: none;">
    <div class="information_box">
        <div class="ico"></div>
        <div class="inform_title">Извините, что-то пошло не так...</div>
        Попробуйте начать расчет заново.
    </div>
    <div class="form_grey_button">На главную</div>
    <div class="form_green_button">Новый расчет</div>
    <div style="clear: both;"></div>
</div>
<!-- PRELOADER -->
<div class="preloader" style="display: none;">
    <div class="img_box">
        <img src="{{asset('bundles/insurancecontent/images/331.gif')}}" alt="img" />
    </div>
    <div class="text"><span>Загрузка... </span>пожалуйста, подождите</div>
</div>
{% block footer_scripts %}
{% endblock %}
    <script type="text/javascript">
        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED')%}
        function greenButtonSubmit() {
            $('.green_button').on('click', function (){
                $('.modal_preloader').fadeIn(300).addClass('on');
                var form = $(this).parents('form');
                $.ajax($(form).attr('action'), {
                    data: form.serialize(),
                    type: 'POST'
                })
                        .done(function(data){
                            $('.sub_text').hide();
                            $('.form-container').html(data);
                            $('.modal_preloader').fadeOut(300).removeClass('on');
                            greenButtonSubmit();
                        });
            });
        }

        function loginFormShow(e, callbackF) {
            $.ajax('{{path('fos_user_security_login')}}', {
                type: 'GET'}).done(function (data){
                if ($('#login_modal').length == 1)
                    $('#login_modal').replaceWith(data);
                else
                    $('body').append(data);
                $('#login_modal').css('display', 'none');
                $('#login_modal').modal().open({
                    closeOnEsc: false,
                    closeOnOverlayClick: false
                });
                Custom.init();
                //Reset password
                $('.forget_pass').on('click', function (){
					$('.modal_preloader').fadeIn(300).addClass('on');
                    $.ajax('{{path('fos_user_resetting_request')}}')
                    .done(function (data){
                        $('#pass_modal .form-container').html(data);
                        greenButtonSubmit();
                        $('#pass_modal').modal().open({
                            closeOnEsc: false,
                            closeOnOverlayClick: false
                        });
                    });
                });
                $('.modal .close').on('click', function(e){
                    e.preventDefault();
                    $.modal().close();
                    });
                $('#login-form').submit(function (e) {
				$('.modal_preloader').fadeIn(300).addClass('on');
                    e.preventDefault();
                    $.ajax('{{path("fos_user_security_check")}}',
                        {
                            type: 'POST',
                            dataType: 'JSON',
                            data: $(this).serialize()
                        }
                    )
                    .done(function(data){
                        if (typeof data.email !== 'undefined') {
                            $('.login-area').html('<div class="personal_office login_link"><span></span><a href="{{path('fos_user_security_logout')}}">Выйти</a></div>');
							$('.modal_preloader').fadeOut(300).removeClass('on');
                            $.modal().close();
                            if (typeof callbackF === 'function') callbackF();
                            //If we on calculator page than change order button behaviour
                            if (window.saveCalculation == true) {
                                $.ajax('{{path('save_calculation')}}', {
                                    type: 'POST',
                                    data: $('#calculator-form').serialize()
                                }).done(function (data){
                                    if (data.message == 'success') {
                                        $('.common_error').hide();
                                        $('.error_login').hide();
                                        //Show success window
                                        $('#success_modal .inform_title').text('Ваш расчет сохранен!');
                                        $('#success_modal .inform_text').text('При следующем посещении сайта, на странице калькулятора Вы увидите свой сохраненный расчет для полиса ОСАГО');
                                        $('#success_modal').modal().open();
                                    }
                                });
                            } else if ($('.form_now').length > 0 && $('.form_now').is(':visible')) {
                                $.ajax('{{path('step1')}}', {
                                type: 'POST',
                                data: $('#calculator-form').serialize()
                                }).done(function(data){
                                if (data.message == 'success') window.location = '{{path('step2')}}';
                                });
                            } else if ($('.form_now').length > 0 && !$('.form_now').is(':visible')) {
                                $('.form_now').unbind('click');
                                $('.form_now').on('click', function(){
                                $.ajax('{{path('step1')}}', {
                                type: 'POST',
                                data: $('#calculator-form').serialize()
                                }).done(function(data){
                                if (data.message == 'success') window.location = '{{path('step2')}}';
                                });
                            });
                            }
                        } else {
						    $('.modal_preloader').fadeOut(300).removeClass('on');
                            if (typeof data.message !== undefined)
                                $('.error_login').show();
                            else
                                $('.common_error').show();
                        }
                    });
                });
            })//End of ajax
        }
     $('.login_link').on('click', loginFormShow);
        {% endif %}
        $('.green_button').on('click', function (){
        var errors = 0;
            $(this).parents('form').find('input').each(function(k, val){
                if (val.value.length == 0) {
                    errors++;
                    $(val).parent().nextAll('.error').show();
                    $(val).parent().nextAll('.error_text').show();
                } else {
                    if (val.id.indexOf('email')!=-1 && val.value.match(/[a-zA-Z]+[a-zA-Z0-9.]*@[a-zA-Z]+\..*[a-zA-Z]{2,4}/)) {
                        $(val).parent().nextAll('.success').show();
                        $(val).parent().nextAll('.error').hide();
                        $(val).parent().nextAll('.error_text').hide();
                    }
                    else if (val.id.indexOf('email')!=-1) {
                        errors++;
                        $(val).parent().nextAll('.error').show();
                        $(val).parent().nextAll('.error_text').text('Неправильный email').show();
                    } else {
                        $(val).parent().nextAll('.success').show();
                        $(val).parent().nextAll('.error').hide();
                        $(val).parent().nextAll('.error_text').hide();
                    }
                }
            });
            if (errors === 0) {
			    $('.modal_preloader').fadeIn(300).addClass('on');
                var form = $(this).parents('form');
                $.ajax($(form).attr('action'),{
                data: form.serialize(),
                type: 'POST'
                })
                .done(function(data){
				    $('.modal_preloader').fadeOut(300).removeClass('on');
                    if (data.message == 'success') {
                        $('#success_modal .inform_title').text('Спасибо, Ваш запрос принят.');
                        $('#success_modal .form_grey_button').hide();
                        $('#success_modal .form_green_button').hide();
                        $('#success_modal').modal().open();
						setTimeout(function(){
						$('#success_modal').fadeOut(600);
						$.modal().close();
						}, 2000);

                    } else if(data.message == 'error') {
                        console.log(data.error);
                        $('#error_modal').show();
                    }
                });
            }
        });
        Custom.init();
        //Register button init

    </script>
<script type="text/javascript">
    var reformalOptions = {
        project_id: 247771,
        project_host: "polismarket.reformal.ru",
        tab_orientation: "left",
        tab_indent: "50%",
        tab_bg_color: "#72b838",
        tab_border_color: "#FFFFFF",
        tab_image_url: "http://tab.reformal.ru/0J7RgdGC0LDQstGM0YLQtSDQvtGC0LfRi9CyINC%252BINC90LDRgQ==/FFFFFF/2d8c7f1cbb8f8b5e95b76f07bb92f791/left/1/tab.png",
        tab_border_width: 1
    };
    
    (function() {
        var script = document.createElement('script');
        script.type = 'text/javascript'; script.async = true;
        script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
        document.getElementsByTagName('head')[0].appendChild(script);
    })();
</script><noscript><a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png" /></a><a href="http://polismarket.reformal.ru">Оставьте отзыв о нас</a></noscript>
</body>
</html>
