<!DOCTYPE html>
<html>
  <head>
    {% block head %}{% endblock %}
    <title>{% block title %}Hello!{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="{{asset('bundles/insurancecontent/js/jquery.ui.date-picker.ru.js')}}"></script>
    <script src="{{asset('bundles/insurancecontent/js/jquery-ui-timepicker-addon.js')}}"></script>
    {% endblock %}
    {% block styles%}
    <link rel="stylesheet" href="{{asset('bundles/insurancecontent/css/dark-hive/jquery-ui.min.css')}}"/>
    <link rel="stylesheet" href="{{asset('bundles/insurancecontent/css/dark-hive/jquery.ui.theme.css')}}"/>
    <link rel="stylesheet" href="{{asset('bundles/insurancecontent/css/timepicker.css')}}"/>
    {% endblock %}
  </head>
  <body>{% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
      <div>Здравствуйте, {{app.user.username}}! <a href="{{path('fos_user_security_logout')}}">Выйти</a></div>
      {% else %}
      <div id="login-button"><a id="">Войти</a></div>
      <div id="login"></div>
      {% endif %}
    <div>{% block content %}{% endblock %}
    </div>
      <input type="text" id="phone_no" placeholder="+(xxxxx)xxx-xx-xx">
      {% block footer_scripts %}

        <script type="text/javascript">
            $('#login-button').on('click', function(e) {
                $.ajax('{{path('fos_user_security_login')}}', {
                    type: 'GET'}).done(function (data){
                    $('#login').html(data);
                    $('#login-form').submit(function (e) {
                        e.preventDefault();
                        $.ajax('{{path("fos_user_security_check")}}',
                            {
                                type: 'POST',
                                dataType: 'JSON',
                                data: $(this).serialize()
                            }
                        )
                        .done(function(data){
                            if (typeof data.email !== 'undefined') {
                                $('login-button').html('Здравствуйте, ' + data.email + '! '+ '<a href="{{path('fos_user_security_logout')}}">Выйти</a>');
                            } else {
                                if (typeof data.message !==undefined)
                                    alert(data.message)
                                else
                                    alert('Произошла ошибка во время авторизации!');
                            }
                        });
                    });
                })//End of ajax
            });//End of click
      </script>
      {% endblock %}
  </body>
</html>
