<!DOCTYPE html>
<html>
 <head>
   <style>
	#logos table {
    border:0
	}

	#logos table td {
    border:0;
	}
	
	#logos table td img {
	border: 0px none;
	padding: 0;
	}
	
.sign-info {
	margin: 0;
}

	.sign-info h1 {
		font:normal 22pt 'PT Serif',arial,serif;
		margin:1em 0 .2em 0;
		padding:0;
	}

	.sign-info h2 {
		font: bold 14pt arial,serif;
		margin:.5em 0;
		padding:0;
		color:#333;
		line-height:1.2em;
       text-align: center;
	}

	.sign-info table {

	}

	.sign-info table td{

    padding:.75em 1.5em;
    text-align: justify;
	}

		.sign-info table table, .sign-info table table td {
			border:0;
		}

		.sign-info table table td {
			padding:0;
		}
   </style>
  </head>
<body>

<div id="logos">					
<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr>
                <td width="50%" height="84" valign="bottom" align="left" border="0"><img src="{{asset('bundles/insurancecontent/images/our_logo.jpg')}}" width="219" height="40" border="0" /></td>
                <td width="50%" height="84" valign="bottom" align="right" border="0"><img src="{{asset('bundles/insurancecontent/images/bbs_logo.jpg')}}" width="219" height="84" border="0" /></td>
                   </tr>
</tbody></table>	
</div>                
    <!-- Policy info -->
    <div class="sign-info">


	
<h1 align="center">
	Поліс № {{order.policy.value}}</h1>

<h2 align="center">
    обов'язкового страхування цивільно-правової відповідальності<br>
    власників наземних транспортних засобів<br>
    (діє на території України)
</h2>
<br>

<table width="100%" cellspacing="0" cellpadding="5" border="1">
    <tbody><tr>
        <td width="40%" valign="top" rowspan="2">
            <strong>1. Страховик</strong><br><font size="-1">(назва, адреса, № телефону)</font><br>
            {{order.company.requisites}}
        </td>
        <td width="60%" valign="top">
        	<font size="-1">Код страховика:</font> {{order.company.insurerCode}}
        </td>
    </tr>
    <tr>
        <td width="60%" valign="top">
        	<strong>2. Страховим випадком є</strong> подія, внаслідок якої заподіяна шкода третім особам під час
    		дорожньо-транспортної пригоди, яка сталася за участю забезпеченого транспортного засобу і внаслідок якої
    		настає цивільно-правова відповідальність особи, відповідальність якої застрахована за договором.
        </td>
    </tr>
</tbody></table>

<br>

<p><strong>3. Строк дії</strong></p>
<p align="center">
    з
    <strong>{{ order.activeFrom|date('d.m.Y H:i:s') }}</strong>
    до
    <strong> {{order.activeFrom|date_modify('+1 year -1 second')|date('d.m.Y H:i:s')}} </strong>
    включно<br>
    <em>Договір (поліс) набирає чинності з початку зазначенного строку його дії</em>
</p>


<p><strong>4. Страхова сума (ліміт відповідальності) на одного потерпілого</strong>, грн.</p>
<table width="100%" cellspacing="0" cellpadding="5" border="1">
    <tbody>
      <tr>
        <td width="50%"><em>За шкоду, заподіяну життю і здоров'ю (на одного потерпілого)</em></td>
        <td width="50%">
        	100 000 грн.
        </td>
    </tr>
    <tr>
        <td width="50%"><em>За шкоду, заподіяну майну (на одного потерпілого)</em></td>
        <td width="50%">
        	50 000 грн.
        </td>
    </tr>
</tbody></table>
<p></p>
<table width="100%" cellspacing="0" cellpadding="5" border="0">
    <tbody>
    <tr>
        <td width="50%" border="0"><strong>Розмір франшизи</strong>, грн.</td>
        <td width="50%">
                        	{{order.company.franchise}} гривень
                    </td>
    </tr>
</tbody></table>

<br>

<p><strong>5. Страхувальник</strong> <em>(П.І.Б./назва організації)</em></p>

<table width="100%">
	<tbody><tr>
		<td width="35%" valign="top">
            <table width="100%" cellpadding="3" border="1">
                <tbody><tr>
                    <td>
                        <strong>{{ order.surname }}</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>{{ order.firstname }}</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                    	<strong>{{ order.middlename }}</strong>
                    </td>
                </tr>
            </tbody></table>
        </td>
        <td width="60%" valign="top">
            <table width="100%" cellpadding="3" border="1">
                <tbody><tr>
                    <td><strong>Адреса</strong></td>
                </tr>
                <tr>
                	<td colspan="3">м. {{order.registerCity}}, {{ order.registerAddress }}, {{order.registerBuilding}}</td>
                </tr>
            </tbody></table>
            <table width="100%" cellpadding="3" border="1">
                <tbody><tr>
                    <td>
                    	Телефон
                    </td>
                    <td>{{ order.phone }}</td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>

<br>

<p><strong>Виключно для страхувальника - фізичної особи</strong></p>
<p>
	<strong>Дата народження</strong> {{order.birthDate|date('d.m.Y')}} року	&nbsp;
	<strong>ІНПП</strong> {{order.documentInn}}</p>
<p>
	<strong>Документ, що посвідчує особу</strong>
	<em>(для пільговика - документ, що підтверджує його право на зменшення розміру страхового платежу)</em>
	<br>
	назва документа <strong>{% if order.documentType == 'D'%}вод. права{% elseif order.documentType == 'P'%}паспорт{%endif%}</strong>,
	серія <strong>{{ order.documentSerie }}</strong>,
	номер <strong>{{ order.documentNumber }}</strong>,
	дата видачі <strong>{{ order.documentDate.format('d.m.Y') }}</strong>,
	ким виданий документ <strong>{{ order.documentAuthority }}</strong>
</p>

<br>

<p><strong>6. Забезпечений транспортний засіб (ТЗ)</strong></p>
<table width="100%" cellspacing="0" cellpadding="5">
    <tbody><tr>
        <td>
            Тип
            <strong>{% if order.displacement == '1.4' %}B1{%- elseif order.displacement == '1.7' -%}B2{%- elseif order.displacement == '2.1' -%}B3{%- elseif order.displacement == '3.1' -%}B4{% endif %}</strong>
            &nbsp;
            Марка, модель
            <strong>{{ order.carModel.brand.value }} {{order.carModel.value}}</strong>
            &nbsp;
            Номерний знак
            <strong>{{ order.carNumber }}</strong>
            &nbsp;
            Номер кузова (шасі)
            <strong>{{ order.vinCode }}</strong>
            &nbsp;
            Рік випуску
            <strong>{{ order.carAge }}</strong>
            &nbsp;
            Місце реєстрації
            <strong>{{ order.registerCity.region.value }}, {{ order.registerCity }}</strong>
        </td>
    </tr>
</tbody></table>

<br>

<p><strong>7. Страховий платіж</strong> <strong>{{order.price|number_format(2, ',', ' ')}} грн.</strong><br>
{% if order.payDate in not null %}Сплачений <strong>{{order.payDate|date('D, d F Y H г i хв s с', 'Europe/Kiev')}}</strong></p>{% endif %}
<table width="100%" cellpadding="0" border="0">
  <tbody><tr>
    <td width="40%" align="left"></td>
    <td width="60%" align="right">При настанні страхового випадку негайно телефонуйте за телефоном: 0-800-700-123.</td>
  </tr>
</tbody></table>

    </div>
    <!-- Policy  -->

</body>
</html>