{% extends 'InsuranceContentBundle::base.html.twig' %}
{% block head_scripts%}
<script>
var end_time = '{{timerEnd}}';
</script>
<script type="text/javascript">
jQuery(function(){
 $("#Go_Top").hide().removeAttr("href");
 if ($(window).scrollTop()>="550") $("#Go_Top").fadeIn("slow")
 $(window).scroll(function(){
  if ($(window).scrollTop()<="550") $("#Go_Top").fadeOut("slow")
  else $("#Go_Top").fadeIn("slow")
 });

 $("#Go_Top").click(function(){
  $("html, body").animate({scrollTop:0},"slow")
 })
});
</script>
{% endblock %}
{% block content %}
        <section class="content">
                <div class="limit">
                    <div class="calculator_box">
					<span class="first_part_slogon">Укажите автомобиль и</span>
					<h1>рассчитайте<br/><span class="second">стоимость осаго</span></h1>
					<!-- <h2 class="fivemin">Оформить полис онлайн<br/><span>всего за 5 минут</span></h2> -->
                        <!-- counter -->
                        <div class="count_down_container">
							<div class="discount_phrase">Воспользуйтесь скидкой до 25%</div>
                            <div class="label">До конца акции осталось</div>
                            <div class="counter">
                                <div class="hours">
                                    <span class="tdigit">00</span>
                                    <span class="delimiter"></span>
                                    <span class="desc">часов</span>
                                </div>
                                <div class="minutes">
                                    <span class="tdigit">00</span>
                                    <span class="delimiter"></span>
                                    <span class="desc">минут</span>
                                </div>
                                <div class="seconds">
                                    <span class="tdigit">00</span>
                                    <span class="delimiter"></span>
                                    <span class="desc">секунд</span>
                                </div>
                            </div>
                        </div>
                        <!-- calculator -->
                        <div class="calculator">
                            <div class="title">Калькулятор ОСАГО онлайн</div>
                            <div class="label">Укажите свой автомобиль</div>
                            <form method="POST" action="{{path('calculate_go')}}">
                                <hidden>
                                <div class="combo mark">
                                    <div class="current">
                                    {% if (carBrand) %}
                                        {% for brand in brands %}
                                            {% if (brand.id == carBrand) %}
                                                {{brand.value}}
                                            {%endif%}
                                        {% endfor %}
                                    {% else %}Выбрать марку:
                                    {% endif %}
                                    </div>
                                    <div class="arrow"></div>
                                    <div id="scrollbar1"  class="scroll_box">
                                		<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                                		<div class="viewport">
                                			 <div class="overview">
                                				<ul form-input-id="carBrand" id="brandList">
                                                    {%if (brands)%}
                                                        {% for brand in brands %}
                                                    <li{% if (brand.id == carBrand) %} class="active"{% endif %} data-value="{{brand.id}}">{{brand.value}}</li>
                                                        {% endfor %}
                                                    {% endif %}
                                                </ul>
                                			</div>
                                		</div>
                                	</div>
                                    <input name="carBrand" id="carBrand" type="hidden" value="{% if (carBrand)%}{{carBrand}}{% endif %}" />
                                </div>
                                <div class="combo">
                                    <div class="current">
                                    {% if (carModel) %}
                                        {% for model in models %}
                                            {% if (model.id == carModel) %}
                                                {{model.value|raw}}
                                            {%endif%}
                                        {% endfor %}
                                    {% else %}Выбрать модель:
                                    {% endif %}
                                    </div>
                                    <div class="arrow"></div>
                                    <div id="scrollbar2" class="scroll_box">
                                		<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                                		<div class="viewport">
                                			 <div class="overview">
                                				<ul form-input-id="carModel" id="modelList">
                                                    {%if (models)%}
                                                        {% for model in models %}
                                                    <li{% if (model.id == carModel)%} class="active"{% endif %} data-value="{{model.id}}">{{model.value|raw}}</li>
                                                        {% endfor %}
                                                    {% endif %}
                                                </ul>
                                			</div>
                                		</div>
                                	</div>
                                    <input type="hidden" value="{% if (carModel)%}{{carModel}}{% endif %}" id="carModel" name="carModel" />
                                </div>
                                        <div class="calculate"><span></span>рассчитать</div>
                            </form>
                        </div>
                    </div>

                    <!-- econom -->
                    <div class="econom_box">
                        <div class="text">Мы уже сэкономили нашим клиентам в 2013 году:</div>
                        <span>{{savedSum[:1]}}</span>
                        <span>{{savedSum[1:1]}}</span>
                        <span>{{savedSum[2:1]}}</span>
                        <span class="delim"></span>
                        <span>{{savedSum[3:1]}}</span>
                        <span>{{savedSum[4:1]}}</span>
                        <span>{{savedSum[5:1]}}</span>
                        <div class="text">грн.</div>
                        <div style="clear: both;"></div>
                        <div class="shadow"></div>
                    </div>
                    <!-- how it work -->
                    <div class="how_it_work">
                        <h2>Как это работает</h2>
                        <div class="step_point">
                            <div class="img first"></div>
                            <h3 class="text">Укажите страхуемый автомобиль</h2>
                            <div class="arrow"></div>
                        </div>
                        <div class="step_point">
                            <div class="img second"></div>
                            <h3 class="text">Расчитайте стоимость полиса со скидкой</h3>
                            <div class="arrow"></div>
                        </div>
                        <div class="step_point">
                            <div class="img third"></div>
                            <h3 class="text">Введите персональные данные</h3>
                            <div class="arrow"></div>
                        </div>
                        <div class="step_point last">
                            <div class="img fourth"></div>
                            <h3 class="text">Оформите<br /> полис<br /> ONLINE</h3>
                            <div class="arrow"></div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <!-- advantages -->
                <div class="advantages">
                    <div class="limit">
                        <div class="shadow"></div>
                        <h2>Почему мы?</h2>
                        <div class="adv_point">
                            <div class="ico clock"></div>
                            <h3 class="title">Моментальный расчет</h3>
                            <p class="text">Наш сервис позволяет рассчитать стоимость полиса страхования в реальном времени</p>
                        </div>
						<div class="adv_point rightt">
                            <div class="ico protect"></div>
                            <h3 class="title">Надежность</h3>
                            <p class="text">Мы работаем только с самыми надежными страховыми компаниями, лидерами рынка</p>
                        </div>
                        <div class="adv_point">
                            <div class="ico dollar"></div>
                            <h3 class="title">Честная цена</h3>
                            <p class="text">Наш сервис показывает только реальную стоимость полиса, без всяких обманов и уловок.</p>
                        </div>
                        <div class="adv_point">
                            <div class="ico smile"></div>
                            <h3 class="title">Простота и удобство</h3>
                            <p class="text">Осторожно! Даже ребенок сможет оформить и оплатить полис на нашем сайте</p>
                        </div>
                        <div class="adv_point rightt">
                            <div class="ico delivery"></div>
                            <h3 class="title">Бесплатная доставка</h3>
                            <p class="text">Мы доставим заказаный Вами полис по Киеву совершенно бесплатно</p>
                        </div>
                        <div class="adv_point">
                            <div class="ico kee"></div>
                            <h3 class="title">Личный офис</h3>
                            <p class="text">Вы сможете просматривать и продлевать свои договора в любой момент в личном офисе на сайте</p>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <!-- partner -->
                <div class="limit partner">
                    <h2>Наш страховой партнер</h2>
                    <div class="text_box">
                        <img src="{{asset('bundles/insurancecontent/images/partner_logo.png')}}" alt="img" class="logo" />
                        <p class="short_text">Страховая компания «БРОКБИЗНЕС» работает на рынке страхования с 1993 года и за время работы приобрела большой опыт, заняв устойчивые позиции среди наиболее динамичных компаний на рынке страхования. Сегодня Страховая компания «БРОКБИЗНЕС» входит в ведущие страховые компании Украины, имеет членство и входит в Президиум Моторного </p>
                        <p class="drop_text">(транспортного) страхового бюро Украины, является членом Ядерного Страхового Пула Украины и Федерации Страховых Посредников Украины, входит в Совет Строительного Страхового Пула. В 2009 году в результате реструктуризации Лиги страховых организаций Украины, вышла из Правления и вошла в состав Координационного Совета Лиги, членами которого являются крупнейшие страховые компании Украины. </p>
                        <div class="dotted_box hide">
                            <span class="arrow"></span>
                            <span class="text show">Показать информацию</span>
                            <span class="text hide">Скрыть информацию</span>
                        </div>
                    </div>
                </div>
                <!-- min_cost -->
                <div class="min_cost">
                    <div class="limit">
                        <div class="shadow"></div>
                        <h2>Рассчитайте самую минимальную стоимость для вашего полиса ОСАГО</h2>
                        <a href="{{path('step1')}}"><span></span>Узнать цену</a>
                    </div>
                </div>
                <!-- any question -->
                <div class="limit question">
                    <h2>Хотите что-то спросить?</h2>
                    <div class="question_point phone">
                        <div class="ico"></div>
                        <div class="title"><span>(050)</span> 345 2415</div>
                        <div class="text">Перезвоните нам и мы постараемся вам помоч</div>
                    </div>
                    <div class="question_point call">
                        <div class="ico call_link"></div>
                        <div class="title call_link">Закажите звонок</div>
                        <div class="text">Наш менеджер свяжется с вами в удобное для вас время</div>
                    </div>
                    <div class="question_point ask">
                        <div class="ico question_link"></div>
                        <div class="title question_link">Задайте вопрос</div>
                        <div class="text">Вы можете задать вопрос прямо на сайте</div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            <!-- footer-push -->
            <div class="footer-push"></div>
        </section>
    </section>
	<a href='#' id='Go_Top'>
 <img src="{{asset('bundles/insurancecontent/images/go_up.png')}}" alt="Наверх" title="Наверх"><br/>
</a>
<script type="text/javascript">
$('#carBrand').on('dataavailable', function (e){
  if ($(this).val()>0) $.get('{{path('get_car_models')}}', {brand_id: $(this).val()}).done(function (data) {
      var opts = '';
      for (k in data) opts += '<li data-value="' + k + '">' + data[k] + '</li>';
      $('#modelList').html(opts);
      //Reinit plugins, events, etc cause of ajax load
      $('#scrollbar2').tinyscrollbar({ sizethumb: 47 });
      $(".combo ul li").on('click', comboClick);
  });
  else {
    $('#carModel').html('<li>Выбрать модель:</li>');
  }
});
$('.calculate').on('click', function (e) {
    $(this).parents('form').submit();
});
</script>
{% endblock %}
