{% extends 'InsuranceContentBundle::base.html.twig'%}
{% block content %}
<section class="content">
                <div class="limit">
                    <!-- navigation -->
                    <div class="navigation">
                        <div class="shadow"></div>
                        <div class="step_point complete"> <!-- .complete -->
                            <span class="ico"></span>
                            Расчет цены
                            <span class="arrow"></span>
                        </div>
                        <div class="step_point middle active"> <!-- .active -->
                            <span class="ico"></span>
                            Оформление полиса
                            <span class="arrow"></span>
                        </div>
                        <div class="step_point last">
                            <span class="ico"></span>
                            Доставка и оплата
                            <span class="arrow"></span>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <!-- total -->
                    <div class="total">
                        <div class="green_label">Сумма заказа:</div>
                        <div class="sum">
                            {{(app.session.get('price') + app.session.get('priceDGO') + app.session.get('priceNs'))|number_format(2, ',', ' ')}} грн.
                            <div class="question_ico">
                                <div class="pop_up">
                                    <div class="popup_title">Lorem ipsum dolor sit amet</div>
                                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                                </div>
                            </div>
                        </div>
                        <div class="orange_button"><a href="{{path('step1')}}#clear">Пересчитать заново</a></div>
                        <div style="clear: both;"></div>
                    </div>
                    <!-- begin form -->
                    <form class="modal_form personal_data" action="{{path('step2')}}" id="identity-form" method="POST">
                        <!-- polis_date -->
                        <div class="grey_area polis_date">
                            <div class="label">Полис начнет действовать:</div>
                            <div class="date"><input type="text" value="{% if app.session.get('activeFrom') %}{% else %}{{ '+2 days'|date('d.m.Y') }}{% endif %}" name="activeFrom" id="activeFrom"/><span></span></div>
                        </div>
                        <!-- auto_info -->
                        <div class="grey_area auto_info">
                            <div class="title">
                                <div class="label">Автомобиль:</div>
                                <div class="auto">{{carBrand}} {{carModel}}, {% if app.session.get('displacement') == '1.4' %}до 1.6 л.,
                                {%- elseif app.session.get('displacement') == '1.7' -%}1.601 - 2 л.,
                                {%- elseif app.session.get('displacement') == '2.1' -%}2.01 - 3 л.,
                                {%- elseif app.session.get('displacement') == '3.1' -%}больше 3 л.{% endif %} {{app.session.get('carAge')}} года выпуска</div>
                                <div class="change"><a href="{{path('step1')}}">Изменить</a></div>
                                <div style="clear: both;"></div>
                            </div>
                            <div class="line">
                                <div class="param">VIN-код:<sup>*</sup></div>
                                <div class="control_point size3">
                                    <input type="text" name="vinCode" id="vinCode" value="{{ app.session.get('vinCode')}}"/>
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text_box">VIN-код должен состоять из 17-ти символов</div>
                                </div>
                            </div>
                            <div class="line">
                                <div class="param">Номерной знак:</div>
                                <div class="control_point size3">
                                    <input type="text" name="carNumber" id="carNumber" value="{{ app.session.get('carNumber')}}"/>
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text_box">В номерном знаке должно быть минимум 7 символов</div>
                                </div>
                            </div>
                        </div>
                        <!-- person_info -->
                        <div class="grey_area person_info">
                            <div class="title">
                                <div class="label">Страхователь:</div>
                                <div class="right_part">
                                    <div class="combo person">
                                        <div class="current">{% if registerPersons%}{{registerPersons[0].surname}} {{registerPersons[0].firstname}} {{registerPersons[0].middlename}} {% endif %}</div>
                                        <div class="arrow"></div>
                                        <div id="scrollbar1"  class="scroll_box">
                                    		<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                                    		<div class="viewport">
                                    			 <div class="overview">
                                    				<ul>
                                                        {% if registerPersons %}
                                                            {% for person in registerPersons%}
                                                            <li {%if registerPersons[0].id == person.id%}class="active" {% endif %}data-value="{{person.id}}">{{person.surname}} {{person.firstname}} {{person.middlename}}</li>
                                                            {% endfor%}
                                                        {% endif %}
                                                    </ul>
                                    			</div>
                                    		</div>
                                    	</div>
                                        <input type="text" value=" " />
                                    </div>
                                    <div class="new_insurer">Новый страхователь</div>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <!-- -->
                            <div class="line">
                                <div class="param">ФИО:</div>
                                <div class="control_point size2">
                                    <input type="text" name="surname" id="surname" placeholder="Фамилия" value="{{ app.session.get('surname')}}" />
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text_box">Текст ошибки</div>
                                </div>
                                <div class="control_point size2">
                                    <input type="text" name="firstname" id="firstname" placeholder="Имя" value="{{ app.session.get('firstname')}}" />
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text_box">Текст ошибки</div>
                                </div>
                                <div class="control_point size2">
                                    <input type="text" name="middlename" id="middlename" placeholder="Отчество" value="{{ app.session.get('middlename')}}" />
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text_box">Текст ошибки</div>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <!-- -->
                            <div class="line">
                                <div class="param">Документ:</div>
                                <div class="control_point radio_control">
                                    <input type="radio" class="styled" name="documentType" value="P" {% if app.session.get('documentType') == 'P' or app.session.get('documentType') == null %} checked="" {% endif %}id="documentTypePassport" />
                                    <label for="documentTypePassport">Паспорт</label>
                                </div>
                                <div class="control_point radio_control">
                                    <input type="radio" class="styled" name="documentType" value="D" {% if app.session.get('documentType') == 'D'%} checked="" {% endif %}id="documentTypeDriver"/>
                                    <label for="documentTypeDriver">Водительское удостоверение</label>
                                </div>
                                <div style="clear: both;"></div>
                                <div class="control_point size1">
                                    <input type="text" name="documentSerie" id="documentSerie" placeholder="Серия" value="{{ app.session.get('documentSerie')}}" />
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text_box">Это поле не может быть пустым</div>
                                </div>
                                <div class="control_point size1">
                                    <input type="text" name="documentNumber" id="documentNumber" placeholder="Номер" value="{{ app.session.get('documentNumber')}}" />
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text_box">Текст ошибки</div>
                                </div>
                                <div class="control_point size4">
                                    <input type="text" name="documentAuthority" id="documentAuthority" placeholder="Кем выдан" value="{{ app.session.get('documentAuthority')}}" />
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text_box">Текст ошибки</div>
                                </div>
                                <div class="control_point size1">
                                    <input type="text" name="documentDate" id="documentDate" placeholder="Когда" value="{{ app.session.get('documentDate')}}" />
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text_box">Текст ошибки</div>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <!-- -->
                            <div class="line">
                                <div class="param">Телефон:</div>
                                <div class="control_point size3">
                                    <input type="text" placeholder="38(...)... .. .." name="phone" id="phone" value="{{ app.session.get('phone')}}" />
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text_box">Текст ошибки</div>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <!-- -->
                            <div class="line">
                                <div class="param">Адрес:</div>
                                <div class="combo one_column">
                                    <div class="current">
                                    {% if app.session.get('region') %}
                                        {% for region in regions%} {% if region.id == app.session.get('region')%}{{region.value}}{% endif %}{% endfor %}{% else %}Выбрать область{% endif %}
                                    </div>
                                    <div class="arrow"></div>
                                    <div id="scrollbar2"  class="scroll_box">
                                		<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                                		<div class="viewport">
                                			 <div class="overview">
                                				<ul form-input-id="region" id="regionList">
                                                    {% for region in regions %}
            <li data-value="{{region.id}}" {% if region.id == app.session.get('region') %}class="active"{% endif %}>{{region.value}}</li>
        {% endfor %}
                                                </ul>
                                			</div>
                                		</div>
                                	</div>
                                    <input type="hidden" name="region" id="region" />
                                </div>
                                <div class="combo one_column">
                                    <div class="current">{% if app.session.get('city') %}
                                        {% for city in cities %} {% if city.id == app.session.get('city')%}{{city.value}}{% endif %}{% endfor %}{% else %}Выбрать город{% endif %}</div>
                                    <div class="arrow"></div>
                                    <div id="scrollbar3" class="scroll_box">
                                		<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                                		<div class="viewport">
                                			 <div class="overview">
                                				<ul form-input-id="city" id="cityList">
                                                    {% if app.session.get('registerCity') %}
                                        {% for city in cities %} <li data-value="{{city.id}}"{% if city.id == app.session.get('city') %} class="active"{% endif %}>{{city.value}}</li>{% endfor %}{% endif %}
                                                </ul>
                                			</div>
                                		</div>
                                	</div>
                                    <input type="hidden" id="city" name="city" value="{{app.session.get('city')}}" />
                                </div>
                                <div style="clear: both;"></div>
                                <div class="control_point size4">
                                    <input type="text" name="registerAddress" id="registerAddress" placeholder="Улица" value="{{ app.session.get('registerAddress')}}"/>
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text_box">Текст ошибки</div>
                                </div>
                                <div class="control_point size2">
                                    <input type="text" name="registerBuilding" id="registerBuilding" value="{{ app.session.get('registerBuilding')}}" placeholder="Дом, корпус, квартира" />
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text_box">Текст ошибки</div>
                                </div>
                            </div>
                            <!-- -->
                            <div class="line">
                                <div class="control_point accept_control">
                                    <input type="checkbox" class="styled" id="processPersonalData" checked="checked" value="Y" name="processPersonalData" />
                                    <label for="processPersonalData">
                                        Согласие на обработку персональных данных
                                        <div class="question_ico">
                                            <div class="pop_up">
                                                <div class="popup_title">Lorem ipsum dolor sit amet</div>
                                                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                                            </div>
                                        </div>
                                    </label>
                                    <div class="error_text_box_quest">Вы должны принять условия пользовательского соглашения</div>
                                </div>
                            </div>
                            <!-- -->
                            <div class="form_green_button">Завершить оформление</div>
                            <div class="form_grey_button">Назад</div>
                            <div style="clear: both;"></div>
                        </div>

                    </form>
                    <!-- end form -->
                </div>
            <!-- footer-push -->
            <div class="footer-push"></div>
        </section>

    </section>
{% endblock %}
{% block footer_scripts %}
<script type="text/javascript">
    function checkForm(e) {
        var errors = {};
        if ($('#activeFrom').val().match(/[0-9]{1,2}\.[0-9]{1,2}\.[0-9]{4}/) == null) {
            errors.activeFrom = true;
        } else
            errors.activeFrom = false;
        if ($('#vinCode').val().length < 17) {
            errors.vinCode = true;
        } else
            errors.vinCode = false;
        if ($('#carNumber').val().length < 7) {
            errors.carNumber = true;
        } else
            errors.carNumber = false;
        if ($('#surname').val().length == 0) {
            errors.surname = true;
        } else
            errors.surname = false;
        if ($('#firstname').val().length == 0) {
            errors.firstname = true;
        } else
            errors.firstname = false;
        if ($('#middlename').val().length == 0) {
            errors.middlename = true;
        } else
            errors.middlename = false;
        if ($('#documentTypePassport').val() != 'P' || $('#documentTypeDriver').val() != 'D') {
            errors.documentTypePassport = true;
        } else
            errors.documentTypePassport = false;
        if ($('#documentSerie').val().length == 0) {
            errors.documentSerie = true;
        } else
            errors.documentSerie = false;
        if ($('#documentNumber').val().length == 0) {
            errors.documentNumber = true;
        } else
            errors.documentNumber = false;
        if ($('#documentAuthority').val().length == 0) {
            errors.documentAuthority = true;
        } else
            errors.documentAuthority = false;
        if ($('#documentDate').val().length == 0) {
            errors.documentDate = true;
        } else
            errors.documentDate = false;
        if ($('#phone').val().length == 0) {
            errors.phone = true;
        } else
            errors.phone = false;
        if ($('#region').val().length == 0) {
            errors.region = true;
        } else
            errors.region = false;
        if ($('#city').val().length == 0) {
            errors.city = true;
        } else
            errors.city = false;
        if ($('#registerAddress').val().length == 0) {
            errors.registerAddress = true;
        } else
            errors.registerAddress = false;
        if ($('#registerBuilding').val().length == 0) {
            errors.registerBuilding = true;
        } else
            errors.registerBuilding = false;
        if (!$('#processPersonalData').is(':checked')) {
            errors.processPersonalData = true;
        } else
            errors.processPersonalData = false;
        for (v in errors) {
            if (errors[v] == true) {
                $('#' + v).parents('.control_point').addClass('error');
                $('#' + v).parents('.control_point').removeClass('success');
                e.preventDefault();
            }
            else {
                $('#' + v).parents('.control_point').removeClass('error');
                $('#' + v).parents('.control_point').addClass('success');
            }
        }
    }

    function clearData() {
        $('.person .current').text('');
        $('#scrollbar2 li').removeClass('active');
        $('#activeFrom').val(null);
        $('#vinCode').val(null);
        $('#carNumber').val(null);
        $('#surname').val(null);
        $('#firstname').val(null);
        $('#middlename').val(null);
        $('#documentTypePassport').removeAttr('checked');
        $('#documentTypeDriver').removeAttr('checked');
        $('#documentTypePassport').trigger('click');
        $('#documentSerie').val(null);
        $('#documentNumber').val(null);
        $('#documentAuthority').val(null);
        $('#documentDate').val(null);
        $('#phone').val(null);
        $('#region').val(null);
        $('#region').parents('.combo').find('.current').text('Выбрать область');
        $('#region').parents('.combo').find('li').removeClass('active');
        $('#city').val(null);
        $('#city').parents('.combo').find('.current').text('Выбрать город');
        $('#city').parents('.combo').find('ul').text('');
        $('#registerAddress').val(null);
        $('#registerBuilding').val(null);
        $('#processPersonalData').removeAttr('checked');
        $('.person li').removeClass('active');
    }

    $('#identity-form').on('submit', checkForm);
    $('.form_green_button').on('click', function () {
        $('#identity-form').trigger('submit');
    });
    $('.form_grey_button').on('click', function () {
        location = '{{path('step1')}}';
    });
    $('.new_insurer').on('click', clearData);
    $.datepicker.setDefaults($.datepicker.regional[ "ru" ]);
    $('#activeFrom').datepicker({
    closeText: 'Закрыть',
    dateFormat: 'dd.mm.yy',
    inline: true,
    minDate: +2
    });
    function selectCity() {
        var inputEl = $(this).parents('ul').attr('form-input-id');
        $('#'+inputEl).val($(this).attr('data-value'));
        $(this).parents('.your_auto').find('.box_line').removeClass('focus');
        $(this).parents('.box_line').next('.box_line').addClass('focus');
    }
    function loadCities() {
        if ($(this).val()>0) $.get('{{path('get_cities')}}', {region_id: $(this).val()}).done(function (data) {
            var opts = '';
            for (k in data) opts += '<li data-value="' + k + '">' + data[k] + '</li>';
            $('#cityList').html(opts);
            $(".combo ul li").on('click', comboClick);
            $('#scrollbar3').tinyscrollbar({ sizethumb: 47 });
            $('#cityList li').on('click', selectCity);
            //$('#registerCity').removeAttr('disabled');
        });
    }
    $('#region').on('dataavailable', loadCities);
    $('#cityList li').on('click', selectCity);
    $(document).ready(function(){
        $(":input").attr('autocomplete', 'off');
    });
    {% if (registerPersons) %}
        function switchUserData(dataId) {
            var userData = {
                {% for personData in registerPersons %}
                {{personData.id}}:{
                    vinCode: '{{personData.vinCode}}',
                    carNumber: '{{personData.carNumber}}',
                    surname: '{{personData.surname}}',
                    firstname: '{{personData.firstname}}',
                    middlename: '{{personData.middlename}}',
                    documentType: '{{personData.documentType}}',
                    documentSerie: '{{personData.documentSerie}}',
                    documentNumber: '{{personData.documentNumber}}',
                    documentAuthority: '{{personData.documentAuthority}}',
                    documentDate: '{{personData.documentDate|date('d.m.Y')}}',
                    phone: '{{personData.phone}}',
                    region: '{{personData.city.region.id}}',
                    city: '{{personData.city.id}}',
                    regionName: '{{personData.city.region}}',
                    cityName: '{{personData.city}}',
                    registerAddress: '{{personData.registerAddress}}',
                    registerBuilding: '{{personData.registerBuilding}}',
                }{% if loop.last != true %},{% endif %}

                {% endfor %}
            };
            for (k in userData[dataId]) {
                if ($('#' + k).is(':input:not(:checkbox)'))
                    $('#' + k).val(userData[dataId][k]);
            }
            if (userData[dataId].documentType == 'P') $('#documentTypePassport').trigger('click');
                else $('#documentTypeDriver').trigger('click');
            $('#region').parents('.combo').find('.current').text(userData[dataId].regionName);
            $('#city').parents('.combo').find('.current').text(userData[dataId].cityName);
            $('#regionList li[data-value="'+ userData[dataId].region +'"]').addClass('active');
            $('#region').trigger('dataavailable');
            setTimeout(function() {
                $('#cityList li[data-value="'+ userData[dataId].city +'"]').addClass('active');
            }, 4000);
        }
        $('.person li').on('click', function (){
            switchUserData($(this).attr('data-value'));
        })
        if(window.location.hash == '#clear')
            clearData();
        else
            switchUserData({{registerPersons[0].id}});
    {% endif%}
</script>
{% endblock %}
{# register user data template
{% extends 'InsuranceContentBundle::base.html.twig'%}
{% block content %}
Сумма заказа: {{app.session.get('price') + app.session.get('priceDgo') + app.session.get('priceNs')}}
<form method="POST" action="{{ url('step2')}}" id="identity-form">
    <div class="error">
    {% for field, error in errors%}
        [{{ field }}]{{ error }}
    {% endfor %}
        {{app.session.get('city')}} {{  app.session.get('documentType') }}
    </div>
    <label for="activeFrom">Полис начинает действовать с: </label><input type="text" name="activeFrom" id="activeFrom" value="{{ app.session.get('activeFrom')}}"><br>
    Автомобиль: {{carBrand}} {{carModel}}, объем {{app.session.get('displacement')}} л, {{app.session.get('carAge')}} года выпуска<br><hr>
    <label for="vinCode">VIN код: </label><input type="text" name="vinCode" id="vinCode" value="{{ app.session.get('vinCode')}}"><br>
    <label for="carNumber">Номерной знак: </label><input type="text" name="carNumber" id="carNumber" value="{{ app.session.get('carNumber')}}"><br>
    <hr>
    <label>ФИО: </label>
    <input type="text" name="surname" id="surname" placeholder="Фамилия" value="{{ app.session.get('surname')}}">
    <input type="text" name="firstname" id="firstname" placeholder="Имя" value="{{ app.session.get('firstname')}}">
    <input type="text" name="middlename" id="middlename" placeholder="Отчество" value="{{ app.session.get('middlename')}}"><br>
    <label>Документ: </label><input type="radio" name="documentType" value="P" {% if app.session.get('documentType') == 'P'%} checked="" {% endif %}>Паспорт
    <input type="radio" name="documentType" value="D" {% if app.session.get('documentType') == 'D'%} checked="" {% endif %}>Водительское удостоверение<br>
    <input type="text" name="documentSerie" id="documentSerie" placeholder="Серия" value="{{ app.session.get('documentSerie')}}">
    <input type="text" name="documentNumber" id="documentNumber" placeholder="Номер" value="{{ app.session.get('documentNumber')}}">
    <input type="text" name="documentAuthority" id="documentAuthority" placeholder="Кем выдан" value="{{ app.session.get('documentAuthority')}}">
    <input type="text" name="documentDate" id="documentDate" placeholder="Когда" value="{{ app.session.get('documentDate')}}"><br>
    <label for="phone">Телефон:</label><input type="text" name="phone" id="phone" placeholder="+38(xxxxx)xxx-xx-xx" value="{{ app.session.get('phone')}}"><br>
    Адрес: <select name="region" id="region" >
        <option value="0">Выберите область</option>
        {% for region in regions %}
            <option value="{{region.id}}" {% if region.id == app.session.get('region') %}selected=""{% endif %}>{{region.value}}</option>
        {% endfor %}
    </select>
    <select name="city" {% if cities == false %}disabled=""{% endif %} id="city">
        <option>Выберите город</option>
        {% if cities %}
        {% for cityL in cities %}
        <option value="{{cityL.id}}" {% if cityL.id == app.session.get('city') %}selected=""{% endif %}>{{cityL.value}}</option>
        {% endfor %}
        {% endif %}
    </select><br>
    <input type="text" name="registerAddress" id="registerAddress" placeholder="Адрес" value="{{ app.session.get('registerAddress')}}">
    <input type="text" name="registerBuilding" id="registerBuilding" placeholder="Дом, Корпус, Квартира" value="{{ app.session.get('registerBuilding')}}">
    <button type="submit">Отправить!</button>
</form>
<script type="text/javascript">
    $.datepicker.setDefaults($.datepicker.regional[ "ru" ]);
    $('#activeFrom').datepicker({
    closeText: 'Закрыть',
    dateFormat: 'dd.mm.yy'
    });
    $('#region').on('change', function (e){
            if ($(this).val()>0) $.get('{{path('get_cities')}}', {region_id: $(this).val()}).done(function (data) {
                var opts = '<option value="0">Выберите город</option>';
                for (k in data) opts += '<option value="' + k + '">' + data[k] + '</option>';
                $('#city').html(opts);
                $('#city').removeAttr('disabled');
            });
            else {
                $('#city').html('<option>Выберите город</option>');
                $('#city').attr('disabled', '');
            }
        });
</script>
{% endblock %}#}