{% extends 'InsuranceContentBundle::base.html.twig'%}
{# calculator #}
{% block content %}
{{carBrand}}
<style>
    #dgo-container {
        display: none;
        padding: 10px;
    }
    #ns-container {
        display: none;
    }
    #discount-container {
        display: none;
    }
</style>
<form action="{{path('calculate_process')}}" method="POST" id="calculator-form">
    <select name="carBrand" id="carBrand" >
        <option value="0">Выберите марку</option>
        {% for brand in brands %}
        <option value="{{brand.id}}" {% if brand.id == carBrand %}selected=""{% endif %}>{{brand.value}}</option>
        {% endfor %}
    </select>
    {% if carAgeFrom and carAgeTo%}
    <div>
        <select name="carAge" id="carAge">
            {% for year in range (carAgeFrom,carAgeTo) %}
            <option value="{{year}}">{{year}}</option>
            {% endfor %}
        </select>
        <div id="discount-container">
            <div>Ваша скидка:</div>
            <div id="discount"></div>
        </div>
    </div>
    {% endif %}
    {% if models %}
    <div id="carModel">
        {% for model in models %}
        <a data="{{model.id}}" {% if model.id == carModel %}class="selected"{% endif %}>{{model.value}}</a>
        {% endfor %}
    </div>
    {% else %}
    <div id="carModel"></div>
    {% endif %}
    <br>
    <div id="slider-displacement"></div><br>
    <div id="displacement">0</div>
    <br>
    <div id="slider-experience"></div><br>
    <div id="experience">0</div>
    <br>
    <select name="registerRegion" id="registerRegion" >
        <option value="0">Выберите область</option>
        {% for region in regions %}
            <option value="{{region.id}}" {% if region.id == city %}selected=""{% endif %}>{{region.value}}</option>
        {% endfor %}
    </select>
    <select name="registerCity" {% if cities == false %}disabled=""{% endif %} id="registerCity">
        <option>Выберите город</option>
        {% if cities %}
        {% for cityL in cities %}
        <option value="{{cityL.id}}" {% if cityL == city %}selected=""{% endif %}>{{cityL.value}}</option>
        {% endfor %}
        {% endif %}
    </select>
    {% if insureTerm %}
    <select name="insuranceTerm" id="insuranceTerm">
        {% for term in insureTerm %}
        {%if term < 1%} <option value="{{term}}">{{term*30}} дней</option>
        {% elseif term == 1 %}
        <option value="{{term}}">{{ term }} месяц</option>
        {% elseif term > 1 and term < 5 %}
        <option value="{{term}}">{{ term }} месяца</option>
        {% elseif term >= 5 and term < 12 %}
        <option value="{{term}}">{{ term }} месяцев</option>
        {% elseif term >= 12 and term < 24 %}
        <option value="{{term}}">{{ '%d'|format(term/12) }} год</option>
        {% elseif term >= 24 and term < 60 %}
        <option value="{{term}}">{{ '%d'|format(term/12) }} года</option>
        {% elseif term >= 60 %}
        <option value="{{term}}">{{ '%d'|format(term/12) }} лет</option>
        {% endif %}
        {% endfor %}
    </select>
    {% endif %}<br style="float:none;"><br>
    <input type="checkbox" name="cbDGO" value="yes"> Оформить Доп. гражданскую ответственность
    <div id="dgo-container">
        <div id="slider-dgo-sum"></div><br>
        <div id="dgo-sum"></div><br>
    </div>
    <br>
    <input type="checkbox" name="cbNS" value="yes"> Оформить НС
    <div id="ns-container">
        <div id="slider-ns-sum"></div><br>
        <div id="ns-sum"></div>
        <select name="passengersCount" id="passengersCount">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
    </div>
    <br>
    <input type="checkbox" name="taxiUse" value="1"> Авто используется в качестве такси<br>
    <input type="hidden" name="hDGOSum" id="hDGOSum">
    <input type="hidden" name="hNSSum" id="hNSSum">
    <input type="hidden" name="hExperience" id="hExperience">
    <input type="hidden" id="hCarModel"{% if carModel %} value="{{carModel}}"{% endif %}>
    <button name="calculate" id="calculate">Расчитать!</button>
    <button type="submit">Оформить!</button>
</form>

<script type="text/javascript">
    function selectCar()
    {
        $('#carModel a').on('click', function (){
            $('#hCarModel').val($(this).attr('data'));
            $(this).addClass('selected');
        });
    }
    $(document).ready(function(){
        $('#carBrand').on('change', function () {
            if ($(this).val()>0) $.get('{{path('get_car_models')}}', {brand_id: $(this).val()}).done(function (data) {
                $('#carModel').hide(200);
                var opts = '';
                for (k in data) opts += '<a data="' + k + '">' + data[k] + '</a>';
                $('#carModel').html(opts);
                    $('#carModel').toggle({duration: 800, done: selectCar});
            });
            else {
                $('#carModel').toggle({duration: 800});
            }
        })//Change action end
        selectCar();
        $('#registerRegion').on('change', function (e){
            if ($(this).val()>0) $.get('{{path('get_cities')}}', {region_id: $(this).val()}).done(function (data) {
                var opts = '<option>Выберите город</option>';
                for (k in data) opts += '<option value="' + k + '">' + data[k] + '</option>';
                $('#registerCity').html(opts);
                $('#registerCity').removeAttr('disabled');
            });
            else {
                $('#registerCity').html('<option>Выберите город</option>');
                $('#registerCity').attr('disabled', '');
            }
        });
        var displacement = [{% for val in range(low=displacement.min, high=displacement.max, step=displacement.step) %} {{val}},{% endfor %}];
        $('#slider-displacement').slider({
            min: 0,
            max: displacement.length - 1,
            //values: [0, 1],
            slide: function(event, ui) {
                $("#displacement").text('Displacement: ' + displacement[ui.value]);
            }
        });

        var dgoValues = [{% for val in dgoSum %} {{val}},{% endfor %}];
        $('#slider-dgo-sum').slider({
            min: 0,
            max: dgoValues.length - 1,
            //values: [0, 1],
            slide: function(event, ui) {
                $('#hDGOSum').val(dgoValues[ui.value]);
                $("#dgo-sum").text('DGO: ' + dgoValues[ui.value]);
            }
        });

        var nsValues = [{% for val in nsSum %} {{val}},{% endfor %}];
        $('#slider-ns-sum').slider({
            min: 0,
            max: nsValues.length - 1,
            //values: [0, 1],
            slide: function(event, ui) {
                $("#ns-sum").text('NS: ' + nsValues[ui.value]);
                $('#hNSSum').val(nsValues[ui.value]);
            }
        });
        $('#slider-experience').slider({
            min: 0,
            max: 10,
            step: 1,
            //values: [0, 1],
            slide: function(event, ui) {
                $("#experience").text('Experience: ' + ui.value);
                $('#hExperience').val(ui.value);
            }
        });

        if ($('input[name="cbDGO"]').is(':checked')) $('#dgo-container').show();
        if ($('input[name="cbNS"]').is(':checked')) $('#ns-container').show();

        $('input[name="cbDGO"]').on('click', function (e){
            if ($(this).is(':checked')) $('#dgo-container').show(800);
            else $('#dgo-container').hide(800);
        });
        $('input[name="cbNS"]').on('click', function (e){
            if ($(this).is(':checked')) $('#ns-container').show(800);
            else $('#ns-container').hide(800);
        })
        $('#carAge').on('change', function (e){
                $.ajax('{{url('get_discount')}}', {
                    dataType: 'JSON',
                    type: 'POST',
                    data: { carAge: $(this).val() }
                }).done(function (data){
                    if (data.discount > 0) {
                        $('#discount').text(data.discount)
                        $('#discount-container').show();
                        }
                    else $('#discount-container').hide();
                });
            });
        $('#calculate').on('click', function(e){

        })
//END READY
    });
</script>
{% endblock %}
