{% extends 'InsuranceContentBundle::base.html.twig'%}
{% block content %}
<section class="content">
                <div class="limit">
                    <!-- navigation -->
                    <div class="navigation">
                        <div class="shadow"></div>
                        <div class="step_point complete"> <!-- .complete -->
                            <span class="ico"></span>
                            Расчет цены
                            <span class="arrow"></span>
                        </div>
                        <div class="step_point middle active"> <!-- .active -->
                            <span class="ico"></span>
                            Оформление полиса
                            <span class="arrow"></span>
                        </div>
                        <div class="step_point last">
                            <span class="ico"></span>
                            Доставка и оплата
                            <span class="arrow"></span>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <!-- total -->
                    <div class="total">
                        <div class="green_label">Сумма заказа:</div>
                        <div class="sum">
                            678, 00 грн.
                            <div class="question_ico">
                                <div class="pop_up">
                                    <div class="popup_title">Lorem ipsum dolor sit amet</div>
                                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                                </div>
                            </div>
                        </div>
                        <div class="orange_button">Пересчитать заново</div>
                        <div style="clear: both;"></div>
                    </div>
                    <!-- begin form -->
                    <form class="modal_form personal_data">
                        <!-- polis_date -->
                        <div class="grey_area polis_date">
                            <div class="label">Полис начнет действовать:</div>
                            <div class="date"><input type="text" value="15 июля 2013 год" id="datepicker" /><span></span></div>
                        </div>
                        <!-- auto_info -->
                        <div class="grey_area auto_info">
                            <div class="title">
                                <div class="label">Автомобиль:</div>
                                <div class="auto">Audi A5, 1.8л, 2008 года выпуска</div>
                                <div class="change">Изменить</div>
                                <div style="clear: both;"></div>
                            </div>
                            <div class="line">
                                <div class="param">VIN-код:<sup>*</sup></div>
                                <div class="control_point success size3">
                                    <input type="text" />
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text">Текст ошибки</div>
                                </div>
                            </div>
                            <div class="line">
                                <div class="param">Номерной знак:</div>
                                <div class="control_point error size3">
                                    <input type="text" />
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text">В номерном знаке должно быть 6 символов!</div>
                                </div>
                            </div>
                        </div>
                        <!-- person_info -->
                        <div class="grey_area person_info">
                            <div class="title">
                                <div class="label">Страхователь:</div>
                                <div class="right_part">
                                    <div class="combo person">
                                        <div class="current">Красно Вадим Васильевич</div>
                                        <div class="arrow"></div>
                                        <div id="scrollbar1"  class="scroll_box">
                                    		<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                                    		<div class="viewport">
                                    			 <div class="overview">
                                    				<ul>
                                                        <li>Иваненко Петр Сергеевич</li>
                                                        <li>Петренко Иван Сидорович</li>
                                                        <li>Катрюк Висилий Степанович</li>
                                                        <li>Алексеева Марина Ивановна</li>
                                                        <li>Третяк Мария Александровна</li>
                                                        <li>Петренко Павел Игоревич</li>
                                                        <li class="active">Красно Вадим Васильевич</li>
                                                        <li>Василенко Любовь Виталиевна</li>
                                                        <li>Костровский Олександр Олександрович</li>
                                                        <li>Петренко Иван Сидорович</li>
                                                        <li>Катрюк Висилий Степанович</li>
                                                        <li>Алексеева Марина Ивановна</li>
                                                    </ul>
                                    			</div>
                                    		</div>
                                    	</div>
                                        <input type="text" value=" " />
                                    </div>
                                    <div class="new_insurer">Новый страхователь</div>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <!-- -->
                            <div class="line">
                                <div class="param">ФИО:</div>
                                <div class="control_point size2">
                                    <input type="text" placeholder="Фамилия" />
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text">Текст ошибки</div>
                                </div>
                                <div class="control_point size2">
                                    <input type="text" placeholder="Имя"  />
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text">Текст ошибки</div>
                                </div>
                                <div class="control_point size2 error">
                                    <input type="text" placeholder="Отчество"  />
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text">Текст ошибки</div>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <!-- -->
                            <div class="line">
                                <div class="param">Документ:</div>
                                <div class="control_point radio_control">
                                    <input type="radio" class="styled" checked="checked" name="document" id="pass" />
                                    <label for="pass">Паспорт</label>
                                </div>
                                <div class="control_point radio_control">
                                    <input type="radio" class="styled" name="document" id="driver" />
                                    <label for="driver">Водительское удостоверение</label>
                                </div>
                                <div style="clear: both;"></div>
                                <div class="control_point size1 error">
                                    <input type="text" placeholder="Серия" />
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text">Текст ошибки</div>
                                </div>
                                <div class="control_point size1 success">
                                    <input type="text" placeholder="Номер"  />
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text">Текст ошибки</div>
                                </div>
                                <div class="control_point size4 error">
                                    <input type="text" placeholder="Кем выдан"  />
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text">Текст ошибки</div>
                                </div>
                                <div class="control_point size1">
                                    <input type="text" placeholder="Когда"  />
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text">Текст ошибки</div>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <!-- -->
                            <div class="line">
                                <div class="param">Телефон:</div>
                                <div class="control_point size3">
                                    <input type="text" placeholder="38(...)... .. .." />
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text">Текст ошибки</div>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <!-- -->
                            <div class="line">
                                <div class="param">Адрес:</div>
                                <div class="combo one_column">
                                    <div class="current">Выбрать область</div>
                                    <div class="arrow"></div>
                                    <div id="scrollbar2"  class="scroll_box">
                                		<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                                		<div class="viewport">
                                			 <div class="overview">
                                				<ul>
                                                    <li>Киевская</li>
                                                    <li>Черниговская</li>
                                                    <li>Житомирская</li>
                                                    <li>Черкасская</li>
                                                    <li>Харьковская</li>
                                                    <li>Одесская</li>
                                                    <li>Херсонская</li>
                                                    <li>Полтавская</li>
                                                    <li>Донецкая</li>
                                                    <li>Днепропетровская</li>
                                                    <li>Киевская</li>
                                                    <li>Черниговская</li>
                                                    <li>Житомирская</li>
                                                    <li>Черкасская</li>
                                                    <li>Харьковская</li>
                                                    <li>Одесская</li>
                                                    <li>Херсонская</li>
                                                    <li>Полтавская</li>
                                                    <li>Донецкая</li>
                                                    <li>Днепропетровская</li>
                                                </ul>
                                			</div>
                                		</div>
                                	</div>
                                    <input type="text" value=" " />
                                </div>
                                <div class="combo one_column">
                                    <div class="current">Выбрать город</div>
                                    <div class="arrow"></div>
                                    <div id="scrollbar3"  class="scroll_box">
                                		<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                                		<div class="viewport">
                                			 <div class="overview">
                                				<ul>
                                                    <li>Киев</li>
                                                    <li>Чернигов</li>
                                                    <li>Житомир</li>
                                                    <li>Черкассы</li>
                                                    <li>Харьков</li>
                                                    <li>Одесса</li>
                                                    <li>Херсон</li>
                                                    <li>Полтава</li>
                                                    <li>Донецк</li>
                                                    <li>Днепропетровск</li>
                                                    <li>Киев</li>
                                                    <li>Чернигов</li>
                                                    <li>Житомир</li>
                                                    <li>Черкассы</li>
                                                    <li>Харьков</li>
                                                    <li>Одесса</li>
                                                    <li>Херсон</li>
                                                    <li>Полтава</li>
                                                    <li>Донецк</li>
                                                    <li>Днепропетровск</li>
                                                </ul>
                                			</div>
                                		</div>
                                	</div>
                                    <input type="text" value=" " />
                                </div>
                                <div style="clear: both;"></div>
                                <div class="control_point size4">
                                    <input type="text" placeholder="Улица" />
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text">Текст ошибки</div>
                                </div>
                                <div class="control_point size2">
                                    <input type="text" placeholder="Дом, корпус, квартира" />
                                    <div class="success ico"></div>
                                    <div class="error ico"></div>
                                    <div class="error_text">Текст ошибки</div>
                                </div>
                            </div>
                            <!-- -->
                            <div class="line">
                                <div class="control_point accept_control">
                                    <input type="checkbox" class="styled" id="accept" />
                                    <label for="accept">
                                        Согласие на обработку персональных данных
                                        <div class="question_ico">
                                            <div class="pop_up">
                                                <div class="popup_title">Lorem ipsum dolor sit amet</div>
                                                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <!-- -->
                            <div class="form_green_button">Завершить оформление</div>
                            <div class="form_grey_button">Назад</div>
                            <div style="clear: both;"></div>
                        </div>

                    </form>
                    <!-- end form -->
                </div>
            <!-- footer-push -->
            <div class="footer-push"></div>
        </section>

    </section>
{% endblock %}
{# register user data template
{% extends 'InsuranceContentBundle::base.html.twig'%}
{% block content %}
Сумма заказа: {{app.session.get('price') + app.session.get('priceDgo') + app.session.get('priceNs')}}
<form method="POST" action="{{ url('step2')}}" id="identity-form">
    <div class="error">
    {% for field, error in errors%}
        [{{ field }}]{{ error }}
    {% endfor %}
        {{app.session.get('city')}} {{  app.session.get('documentType') }}
    </div>
    <label for="activeFrom">Полис начинает действовать с: </label><input type="text" name="activeFrom" id="activeFrom" value="{{ app.session.get('activeFrom')}}"><br>
    Автомобиль: {{carBrand}} {{carModel}}, объем {{app.session.get('displacement')}} л, {{app.session.get('carAge')}} года выпуска<br><hr>
    <label for="vinCode">VIN код: </label><input type="text" name="vinCode" id="vinCode" value="{{ app.session.get('vinCode')}}"><br>
    <label for="carNumber">Номерной знак: </label><input type="text" name="carNumber" id="carNumber" value="{{ app.session.get('carNumber')}}"><br>
    <hr>
    <label>ФИО: </label>
    <input type="text" name="surname" id="surname" placeholder="Фамилия" value="{{ app.session.get('surname')}}">
    <input type="text" name="firstname" id="firstname" placeholder="Имя" value="{{ app.session.get('firstname')}}">
    <input type="text" name="middlename" id="middlename" placeholder="Отчество" value="{{ app.session.get('middlename')}}"><br>
    <label>Документ: </label><input type="radio" name="documentType" value="P" {% if app.session.get('documentType') == 'P'%} checked="" {% endif %}>Паспорт
    <input type="radio" name="documentType" value="D" {% if app.session.get('documentType') == 'D'%} checked="" {% endif %}>Водительское удостоверение<br>
    <input type="text" name="documentSerie" id="documentSerie" placeholder="Серия" value="{{ app.session.get('documentSerie')}}">
    <input type="text" name="documentNumber" id="documentNumber" placeholder="Номер" value="{{ app.session.get('documentNumber')}}">
    <input type="text" name="documentAuthority" id="documentAuthority" placeholder="Кем выдан" value="{{ app.session.get('documentAuthority')}}">
    <input type="text" name="documentDate" id="documentDate" placeholder="Когда" value="{{ app.session.get('documentDate')}}"><br>
    <label for="phone">Телефон:</label><input type="text" name="phone" id="phone" placeholder="+38(xxxxx)xxx-xx-xx" value="{{ app.session.get('phone')}}"><br>
    Адрес: <select name="region" id="region" >
        <option value="0">Выберите область</option>
        {% for region in regions %}
            <option value="{{region.id}}" {% if region.id == app.session.get('region') %}selected=""{% endif %}>{{region.value}}</option>
        {% endfor %}
    </select>
    <select name="city" {% if cities == false %}disabled=""{% endif %} id="city">
        <option>Выберите город</option>
        {% if cities %}
        {% for cityL in cities %}
        <option value="{{cityL.id}}" {% if cityL.id == app.session.get('city') %}selected=""{% endif %}>{{cityL.value}}</option>
        {% endfor %}
        {% endif %}
    </select><br>
    <input type="text" name="registerAddress" id="registerAddress" placeholder="Адрес" value="{{ app.session.get('registerAddress')}}">
    <input type="text" name="registerBuilding" id="registerBuilding" placeholder="Дом, Корпус, Квартира" value="{{ app.session.get('registerBuilding')}}">
    <button type="submit">Отправить!</button>
</form>
<script type="text/javascript">
    $.datepicker.setDefaults($.datepicker.regional[ "ru" ]);
    $('#activeFrom').datepicker({
    closeText: 'Закрыть',
    dateFormat: 'dd.mm.yy'
    });
    $('#region').on('change', function (e){
            if ($(this).val()>0) $.get('{{path('get_cities')}}', {region_id: $(this).val()}).done(function (data) {
                var opts = '<option value="0">Выберите город</option>';
                for (k in data) opts += '<option value="' + k + '">' + data[k] + '</option>';
                $('#city').html(opts);
                $('#city').removeAttr('disabled');
            });
            else {
                $('#city').html('<option>Выберите город</option>');
                $('#city').attr('disabled', '');
            }
        });
</script>
{% endblock %}#}