{%block title %}Калькулятор ОСАГО - Рассчитать стоимость Автогражданки (Автоцивилки){% endblock %}
{% extends 'InsuranceContentBundle::base.html.twig'%}
{# calculator #}
{%block head_scripts %}
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript">
$(function() {
    var displacement = [1.4, 1.7, 2.1, 3.1];
    {% if app.session.get('displacement') %}
    for (d in displacement) if (displacement[d] == {{app.session.get('displacement')}}) currentPriceVal = d;
    {% else %}
    var currentPriceVal = 1;
    {% endif %}
    $( "#slider1" ).slider({
      value: currentPriceVal,
      min: 0,
      max: 3,
      step: 1,
      stop: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.value );
        $('#hDisplacement').val(displacement[ui.value]);
        $(this).parents('.box_line').trigger('click');
        $('.box_line.responsibility').trigger('click');
        $(this).parents('.box_line').removeClass('focus');
        $(this).parents('.box_line').next('.box_line').addClass('focus');
      }
    });
    $( "#amount" ).val( "$" + $( "#slider1" ).slider( "value" ) );
  });

  $(function() {
    var dgoValues = [{% for val in dgoSum %} {{val}},{% endfor %}];
    {% if app.session.get('dgoSum') %}
    for (d in dgoValues) if (dgoValues[d] == {{app.session.get('dgoSum')}}) currentDgoVal = d;
    {% else %}
    var currentDgoVal = 1;
    {% endif %}
    $( "#slider2" ).slider({
      value: currentDgoVal,
      min: 0,
      max: 4,
      step: 1,
      stop: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.value );
        $('#hDGOSum').val(dgoValues[ui.value]);
        $(this).parents('.box_line').trigger('click');
        $(this).parents('.box_line').removeClass('focus');
        $(this).parents('.box_line').next('.box_line').addClass('focus');
      }
    });
    $( "#amount" ).val( "$" + $( "#slider2" ).slider( "value" ) );
  });

  $(function() {
    var nsValues = [{% for val in nsSum %} {{val}},{% endfor %}];
    {% if app.session.get('nsSum') %}
    for (d in nsValues) if (nsValues[d] == {{app.session.get('nsSum')}}) currentNsVal = d;
    {% else %}
    var currentNsVal = 1;
    {% endif %}
    $( "#slider3" ).slider({
      value: currentNsVal,
      min: 0,
      max: 3,
      step: 1,
      stop: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.value );
        $('#hNSSum').val(nsValues[ui.value]);
        $(this).parents('.box_line').trigger('click');
        $(this).parents('.box_line').removeClass('focus');
        $(this).parents('.box_line').next('.box_line').addClass('focus');
      }
    });
    $( "#amount" ).val( "$" + $( "#slider3" ).slider( "value" ) );
  });
</script>

{% endblock %}
{% block content %}
<section class="content">
                <div class="limit">
                    <h1>Расчет стоимости полиса ОСАГО онлайн</h1>
                    <div class="orange_button clear_all">Очистить все</div>
                    <div class="calculator_content">

                        <aside class="">
                            <div class="sidebar_title">Стоимость полиса</div>
                            <div class="before_calc show">
							<span>Наш страховой партнер:</span><br/>
							<img src="{{asset('bundles/insurancecontent/images/partner_logo.png')}}" alt="img" class="logo" /><br/>
							Здесь будет Ваш расчет.
							<br/><br/>
							Пожалуйста, начните заполнять калькулятор.
							</div>
							<div class="calc prices-container">
							<div class="white_box">
                                Полис ОСАГО
                                <div class="price common"></div>
                            </div>
                            <div class="white_box hidden">
                                <span class="remove_dgo"></span>
                                ДГО
                                <div class="price dgo"></div>
                            </div>
                            <div class="white_box hidden">
                                <span class="remove_ns"></span>
                                НС
                                <div class="price ns"></div>
                            </div>
                            <div class="white_box discount hidden">
                                Скидка
                                <div class="price discount"></div>
                            </div>
                            <div class="sub_text">Итого:</div>
                            <div class="white_box itog">грн.</div>
                            <!-- buttons -->
                            <div class="form_now" onclick="yaCounter23668129.reachGoal('click'); return true;">Оформить online</div>
                            <div class="sub_text center">или</div>
                            <div class="orange_button call_link">Консультация с менеджером</div>
                            <div class="orange_button save-calculation">Сохранить расчет</div>
							</div>
                        </aside>
                        <form autocomplete="off" action="{{path('step1')}}" method="POST" id="calculator-form" class="">
                        <div class="category your_auto"><!-- .all_verified -->
                            <!-- title -->
                            <h2 class="category_title">
                                <div class="ico"></div>
                                Ваш автомобиль:
                                <div class="arrow"></div>
                            </h2>
                            <!-- auto mark -->
                            <div class="combo wide">

                                <div class="current">{% if (carBrand) %}
                                        {% for brand in brands %}
                                            {% if (brand.id == carBrand) %}
                                                {{brand.value}}
                                            {%endif%}
                                        {% endfor %}
                                    {% else %}Выбрать марку:
                                    {% endif %}</div>
                                <div class="arrow"></div>
                                <div id="scrollbar1"  class="scroll_box">
                            		<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                            		<div class="viewport">
                            			 <div class="overview">
                            				<ul form-input-id="carBrand" id="brandList" class="combo_list">
                                            {%- if (brands) -%}
                                                {%- for brand in brands -%}
                                                {%- if (loop.index0 % 24 == 0) -%}
                                            <ul>
                                                {% endif -%}
                                                    <li{% if (brand.id == carBrand) %} class="active"{% endif %} data-value="{{brand.id}}">{{brand.value}}</li>
                                                {% if ((loop.index0 + 1) % 24 == 0) -%}
                                            </ul>
                                                {% endif %}
                                                {%- endfor -%}
                                            {%- endif -%}
                                            </ul>
                            			</div>
                            		</div>
                            	</div>
                                <input name="carBrand" id="carBrand" type="hidden" value="{% if (carBrand)%}{{carBrand}}{% endif %}" />
                            </div>
                            <!-- -->
                            <div class="box_line model"{%if (carModel) is null %} style="display:none;"{% endif %}>

                                <div class="param_name">Модель:</div>


                                <ul form-input-id="hCarModel" id="modelList" class="list">
                                    {% if models %}
                                        {% for model in models%}
                                            {% if carModel %}
                                                {% if carModel == model.id %}
                                    <li data-value="{{carModel}}"{% if (carModel)%} class="current" {% endif%}>{{model.value|raw}}</li>
                                                {% endif %}
                                            {% else%}
                                            <li data-value="{{model.id}}">{{model.value|raw}}</li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
									<a class="change_link">изменить</a>
                                </ul>
                                <div style="clear: both;"></div>
<input name="hCarModel" id="hCarModel" type="hidden" value="{% if (carModel)%}{{carModel}}{% endif %}" />
                            </div>
                            <!-- -->
                            <div class="box_line year{%if (app.session.get('carAge')) or app.session.get('carModel') %} focus{% endif %}"{%if (app.session.get('carAge')) is null and app.session.get('carModel') is null %} style="display:none;"{% endif %}>
                                <div class="fixed_pop_up">
                                    Выберите год выпуска Вашего автомобиля. Вы получаете скидку Бонус-Малус, если Ваш автомобиль старше 1 года.
                                </div>
                                <div class="param_name">Год выпуска:</div>
                                <ul form-input-id="carAge" class="list" id="carAgeList">
                                    {% for year in range (carAgeFrom,carAgeTo)|reverse %}
                                    {% if year == carAgeTo -14 %}
                                    <li class="last_visible">{{year}} и старше</li>
                                    <li class="hidden" data-value="{{year}}" {% if year == app.session.get('carAge') %}class="current"{% endif %}>{{year}}</li>
                                    {% elseif year < carAgeTo - 14%}
                                    <li class="hidden" data-value="{{year}}" {% if year == app.session.get('carAge') %}class="current"{% endif %}>{{year}}</li>
                                    {% else %}
                                        <li data-value="{{year}}" {% if year == app.session.get('carAge') %}class="current"{% endif %}>{{year}}</li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                                <div style="clear: both;"></div>
                                <input type="hidden" name="carAge" id="carAge" value="{% if (app.session.get('carAge'))%}{{app.session.get('carAge')}}{% endif %}">
                                {% if app.session.get('carAge') is null %}
                                <div class="discount">Ваша<br /> скидка<span>0%</span></div>
                                {% else %}
                                {% set discount = ('now'|date('Y') - app.session.get('carAge'))*5%}
                                    {% if discount > 25%}
                                    <div class="discount">Ваша<br /> скидка<span>-25%</span></div>
                                    {% else %}
                                    <div class="discount">Ваша<br /> скидка<span>-{{discount}}%</span></div>
                                    {% endif %}
                            {%endif%}
                            </div>
                            <!-- -->
                            <div class="box_line volume"{%if (app.session.get('displacement')) is null %} style="display:none;"{% endif %}><!-- .focus -->
                                <div class="fixed_pop_up">
                                    Выберите объем двигателя Вашего автомобиля
                                </div>
                                <div class="param_name">Объем двигателя:</div>
                                <div class="slider_container">
                                    <div id="slider1"></div>
                                    <div class="points_box">
                                        <div class="point one"></div>
                                        <div class="point two"></div>
                                        <div class="point three"></div>
                                        <div class="point four"></div>
                                    </div>
                                    <div class="description">
                                        <span class="first">до 1.6 л.</span>
                                        <span>1.601 - 2.0 л.</span>
                                        <span>2.01 - 3.0 л.</span>
                                        <span class="last">больше 3.0 л.</span>
                                        <div style="clear: both;"></div>
                                    </div>
                                </div>
                                <input type="hidden" name="hDisplacement" id="hDisplacement" value="{% if (app.session.get('displacement'))%}{{app.session.get('displacement')}}{% else %}1.7{% endif %}">
                            </div>
                            <!-- -->
                            <div class="box_line place"{%if (app.session.get('registerRegion')) is null %} style="display:none;"{% endif %}>
                                <div class="fixed_pop_up">
                                    Выберите место регистрации Вашего автомобиля
                                </div>
                                <div class="param_name">Место регистрации:</div>
                                <div class="combo one_column">
                                    <div class="current">{% if app.session.get('registerRegion') %}
                                        {% for region in regions%} {% if region.id == app.session.get('registerRegion')%}{{region.value}}{% endif %}{% endfor %}{% else %}Выбрать область{% endif %}</div>
                                    <div class="arrow"></div>
                                    <div id="scrollbar2"  class="scroll_box">
                                		<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                                		<div class="viewport">
                                			 <div class="overview">
                                				<ul form-input-id="registerRegion" id="regionList">
                                                    {% for regionV in regions %}
                                                    <li data-value="{{regionV.id}}" {% if regionV.id == region %}class="active"{% endif %}>{{regionV.value}}</li>
                                                    {% endfor %}
                                                </ul>
                                			</div>
                                		</div>
                                	</div>
                                    <input type="hidden" id="registerRegion" name="registerRegion" value="{% if app.session.get('registerRegion') %}{{app.session.get('registerRegion')}}{% endif%}" />
                                </div>
                                <div class="combo one_column town">
                                    <div class="current">{% if app.session.get('registerCity') %}
                                        {% for city in cities %} {% if city.id == app.session.get('registerCity')%}{{city.value}}{% endif %}{% endfor %}{% else %}Выбрать город{% endif %}</div>
                                    <div class="arrow"></div>
                                    <div id="scrollbar3"  class="scroll_box">
                                		<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                                		<div class="viewport">
                                			 <div class="overview">
                                				<ul form-input-id="registerCity" id="registerCityList">
                                                    {% if app.session.get('registerCity') %}
                                        {% for city in cities %} <li data-value="{{city.id}}"{% if city.id == app.session.get('registerCity') %} class="active"{% endif %}>{{city.value}}</li>{% endfor %}{% endif %}
                                                </ul>
                                			</div>
                                		</div>
                                	</div>
                                    <input type="hidden" id="registerCity" name="registerCity" value="{% if app.session.get('registerCity') %}{{app.session.get('registerCity')}}{% endif %}" />
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <!-- -->
                        </div>



                        <!-- OPTIONS -->
                        <div class="category options all_verified">
                            <!-- title -->
                            <h2 class="category_title">
                                <div class="ico"></div>
                                Опции страхования:
                            </h2>
                            <!-- -->
                            <div class="box_line term">
							<div class="fixed_pop_up">
                                        Если Вы страхуетесь меньше чем на 8 месяцев, скидка Бонус-Малус не начисляется
                                    </div>
                                <div class="param_name">Срок страхования:</div>
                                <div class="combo one_column">
                                    <div class="current">
                                    {% if app.session.get('insuranceTerm')%}
                                    {% for term in insureTerm %}
                                        {%if term < 1%} {% if term == app.session.get('insuranceTerm') %}{{term*30}} дней{% endif %}
                                        {% elseif term == 1 %}
                                        {% if term == app.session.get('insuranceTerm') %}{{ term }} месяц{% endif %}
                                        {% elseif term > 1 and term < 5 %}
                                        {% if term == app.session.get('insuranceTerm') %}{{ term }} месяца{% endif %}
                                        {% elseif term >= 5 and term < 12 %}
                                        {% if term == app.session.get('insuranceTerm') %}{{ term }} месяцев{% endif %}
                                        {% elseif term >= 12 and term < 24 %}
                                        {% if term == app.session.get('insuranceTerm') %}{{ '%d'|format(term/12) }} год{% endif %}
                                        {% elseif term >= 24 and term < 60 %}
                                        {% if term == app.session.get('insuranceTerm') %}{{ '%d'|format(term/12) }} года{% endif %}
                                        {% elseif term >= 60 %}
                                        {% if term == app.session.get('insuranceTerm') %}{{ '%d'|format(term/12) }} лет{% endif %}
                                        {% endif %}

                                    {% endfor %}
                                    {% else %}
                                    1 год
                                    {% endif %}
                                    </div>
                                    <div class="arrow"></div>
                                    <div id="scrollbar4" class="scroll_box term">
                                		<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                                		<div class="viewport term">
                                			 <div class="overview">
                                				<ul form-input-id="insuranceTerm">
                                                    {% for term in insureTerm %}
        {%if term < 1%} <li {% if term == app.session.get('insuranceTerm') %}class="active"{% endif %} data-value="{{term}}">{{term*30}} дней</li>
        {% elseif term == 1 %}
        <li {% if term == app.session.get('insuranceTerm') %}class="active"{% endif %} data-value="{{term}}">{{ term }} месяц</li>
        {% elseif term > 1 and term < 5 %}
        <li {% if term == app.session.get('insuranceTerm') %}class="active"{% endif %} data-value="{{term}}">{{ term }} месяца</li>
        {% elseif term >= 5 and term < 12 %}
        <li {% if term == app.session.get('insuranceTerm') %}class="active"{% endif %} data-value="{{term}}">{{ term }} месяцев</li>
        {% elseif term >= 12 and term < 24 %}
        <li {% if term == app.session.get('insuranceTerm') or app.session.get('insuranceTerm') is null %}class="active"{% endif %} data-value="{{term}}">{{ '%d'|format(term/12) }} год</li>
        {% elseif term >= 24 and term < 60 %}
        <li {% if term == app.session.get('insuranceTerm') %}class="active"{% endif %} data-value="{{term}}">{{ '%d'|format(term/12) }} года</li>
        {% elseif term >= 60 %}
        <li {% if term == app.session.get('insuranceTerm') %}class="active"{% endif %} data-value="{{term}}">{{ '%d'|format(term/12) }} лет</li>
        {% endif %}
        {% endfor %}
                                                </ul>
                                			</div>
                                		</div>
                                	</div>
                                    <input type="hidden" id="insuranceTerm" name="insuranceTerm" value="{% if app.session.get('insuranceTerm') %}{{app.session.get('insuranceTerm')}}{% else %}12{% endif %}" />
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <!-- -->
                            <div class="box_line taxi">

                                <div class="param_name">Сфера использования автомобиля:</div>
                                <div class="control_point">
                                    <input type="radio" value="1" class="styled" name="taxiUse" id="taxiUse" {% if app.session.get('taxiUse') == 1 %}checked="checked"{% endif %} />
                                    <label for="taxiUse">Такси</label>
                                </div>
                                <div class="control_point">
                                    <input type="radio" value="0" class="styled" name="taxiUse" id="taxiUseNot" {% if app.session.get('taxiUse') is null or app.session.get('taxiUse') == 0 %}checked="checked"{% endif %} />
                                    <label for="taxiUseNot">Не такси</label>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <!-- -->
                            <div class="recomend_box">
                                <div class="recomend_title">Рекомендуем добавить:</div>
                                <!-- -->
                                <div class="box_line responsibility">
								<div class="fixed_pop_up">
                                            Укажите лимит для расширения ответственности
                                        </div>
                                        <input type="checkbox" class="styled" id="respons" name="cbDGO" value="yes"{% if app.session.get('dgoSum')%} checked="checked"{% endif %}/>
                                    <label for="respons">
                                        Добровольную гражданскую ответственность (ДГО)
                                        <div class="question_ico">
                                          <div class="pop_up">
                                            <div class="popup_title">Разширение ответственности</div>
                                            Вы можете увеличить лимит отвественности при нанесении вреда третьим лицам.
                                          </div>
                                        </div>
                                    </label>
                                    <div style="clear: both;"></div>
                                    <div class="slider_container">
                                        <div class="disabled_shadow{% if app.session.get('dgoSum') == null%} show{% endif %}"></div><!-- .show -->
                                        <div id="slider2"></div>
                                        <div class="points_box">
                                            <div class="point one"></div>
                                            <div class="point two"></div>
                                            <div class="point three"></div>
                                            <div class="point four"></div>
                                            <div class="point five"></div>
                                        </div>
                                        <div class="description">
                                            <span class="first">50 000 грн.</span>
                                            <span>100 000 грн.</span>
                                            <span>150 000 грн.</span>
                                            <span>200 000 грн.</span>
                                            <span class="last">250 000 грн.</span>
                                            <div style="clear: both;"></div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="hDGOSum" id="hDGOSum" value="{% if app.session.get('dgoSum')%}{{app.session.get('dgoSum')}}{% else %}100000{% endif %}">

                                </div>
                                <!-- -->
                                <div class="box_line passengers">
                                    <div class="fixed_pop_up">
                                        Вы можете застраховать водителя и пассажиров от несчастного случая
                                    </div>
                                    <input type="checkbox" class="styled" id="passenger" name="cbNS" value="yes" {% if app.session.get('nsSum')%} checked="checked"{% endif %}/>
                                    <label for="passenger">
                                        Страхование здоровья водителя и пассажиров
                                        <div class="question_ico">
                                          <div class="pop_up">
                                            <div class="popup_title">Личная безопастность</div>
                                            Страхование водителя и пассажиров от несчастных случаев в результате ДТП.<br/>
											Для этого выберите количество пассажиров и страховую сумму для каждого.
                                          </div>
                                        </div>
                                    </label>
                                    <div style="clear: both;"></div>
                                    <div class="passenger_line">
                                        <div class="disabled_shadow{% if app.session.get('nsSum') == null%} show{% endif %}"></div><!-- .show -->
                                        <div class="passenger_counter">
                                            <div class="arrow minus"></div>
                                            <input type="text" id="passengersCount" name="passengersCount" value="{% if app.session.get('passengersCount') %}{{app.session.get('passengersCount')}}{% else %}0{% endif %}"/>
                                            <div class="arrow plus"></div>
                                            <div style="clear: both;"></div>
                                            <label>Пассажиров</label>
                                        </div>
                                        <div class="slider_container">
                                            <div id="slider3"></div>
                                            <div class="points_box">
                                                <div class="point one"></div>
                                                <div class="point two"></div>
                                                <div class="point three"></div>
                                                <div class="point four"></div>
                                            </div>
                                            <div class="description">
                                                <span class="first">5 000 грн.</span>
                                                <span>10 000 грн.</span>
                                                <span>25 000 грн.</span>
                                                <span class="last">50 000 грн.</span>
                                                <div style="clear: both;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="hNSSum" id="hNSSum" value="{% if app.session.get('nsSum')%}{{app.session.get('nsSum')}}{% else %}10000{% endif %}">
                                </div>
                                <!-- -->
                            </div>
                        </div>
</form>

                    </div>
                </div>
            <!-- footer-push -->
            <div class="footer-push"></div>
        </section>

    </section>
{% endblock %}
    {% block footer_scripts %}
    <script type="text/javascript">
	
    function selectModel() {
        $('#modelList li').on('click', function() {
            if($('#modelList .current').length == 0 ) {
                var inputEl = $(this).parents('ul').attr('form-input-id');
                $('#'+inputEl).val($(this).attr('data-value'));
                $(this).addClass('current');
                $(this).parents('ul').find('li').not('.current, .chg').remove();
                $('.box_line').removeClass('focus');
                $(this).parents('.box_line').next('.box_line').addClass('focus');
                $(this).parents('.box_line').next('.box_line').fadeIn(300);
            }
        });
    }

    function selectCity() {
        var inputEl = $(this).parents('ul').attr('form-input-id');
        $('#'+inputEl).val($(this).attr('data-value'));
        $(this).addClass('active');
        $('.box_line').removeClass('focus');
        $(this).parents('.box_line').next('.box_line').addClass('focus');
    }

    function loadModels(e) {
        if ($('#carBrand').val()>0) $.get('{{path('get_car_models')}}', {brand_id: $('#carBrand').val()}).done(function (data) {
                var opts = '';
                for (k in data) opts += '<li data-value="' + k + '">' + data[k] + '</li>';
                opts += '<a class="change_link">изменить</a>';
                $('#modelList').html(opts);
                //$(".combo ul li").on('click', comboClick);
                $('.change_link').unbind('click');
                $('.change_link').on('click', loadModels);
				selectModel();
                $('.box_line').removeClass('focus');
                $('#modelList').parents('.box_line').addClass('focus');
                $('#modelList').parents('.box_line').fadeIn(300);
            });
        else {
            $('#carModel').html('<a class="change_link">изменить</a>');
        }
    }

    function selectCarAge() {
        if (!$(this).hasClass('current')) {
            var inputEl = $(this).parents('ul').attr('form-input-id');
            $('#'+inputEl).val($(this).attr('data-value'));
            $(this).parents('ul').find('li').removeClass('current');
            $(this).addClass('current');
            var date = new Date();
            if (typeof $(this).attr('data-value') !== 'undefined') {
                $('.box_line').removeClass('focus');
                $(this).parents('.box_line').next('.box_line').addClass('focus');
                $(this).parents('.box_line').nextAll('.box_line').fadeIn(300);
                //Reinit plugins, events, etc cause of ajax load
                $('#scrollbar2').tinyscrollbar({ sizethumb: 47 });
                var discount = (date.getFullYear() - $(this).attr('data-value')) * 5;
                if ((date.getFullYear() - $(this).attr('data-value')) == 0) discount = 3;
                if (discount > 25) discount = 25;
                if ($('#insuranceTerm').val() <=7) discount = 0;
                if (discount > 0)
                    $('.discount span').text('-' + discount + '%');
                else
                    $('.discount span').text(parseInt(discount) + '%');
                //if (discount > 0) $('.discount').show();
                //    else $('.discount').hide();
                if ($(this).parents('.box_line').find('.discount').is(':hidden'))
                    $(this).parents('.box_line').find('.discount').show();
            }
        }
    }

    function loadCities() {
        if ($(this).val()>0) $.get('{{path('get_cities')}}', {region_id: $(this).val()}).done(function (data) {
            var opts = '';
            for (k in data) opts += '<li data-value="' + k + '">' + data[k] + '</li>';
            $('#registerCityList').html(opts);
            $(".combo ul li").unbind('click');
            $(".combo ul li").on('click', comboClick);
            $('#scrollbar3').tinyscrollbar({ sizethumb: 47 });
            $('#registerCityList li').on('click', selectCity);
            //$('#registerCity').removeAttr('disabled');
        });
    }

    function validateCommon() {
        if ($('#carBrand').val() > 0 &&
            $('#hCarModel').val() >0 &&
            $('#carAge').val() > 0 &&
            //$('#carAge').val() > {{carAgeFrom}} &&
            $('#carAgeList li.current').length == 1 &&
            $('#hDisplacement').val() > 0 &&
            $('#registerRegion').val() > 0 &&
            $('#registerCity').val() > 0 &&
            $('#insuranceTerm').val() > 0
        )
            return true;
        else
            return false;
    }

    function calculateCommon() {
        $('.your_auto').addClass('all_verified');
        $('.options').fadeIn(1000);
        $('#scrollbar4').tinyscrollbar({ sizethumb: 47 });
        $.ajax('{{ url('get_price') }}', {
            type: 'POST',
            dataType: 'JSON',
            beforeSend: function () {
                if (window.commonInProgress) return false;
                window.commonInProgress = true;
            },
            data: {
                registerCity: $('#registerCity').val(),
                hDisplacement: $('#hDisplacement').val(),
                hExperience: 1,
                insuranceTerm: $('#insuranceTerm').val()
            }
        }
        ).done(function(data) {
            window.commonInProgress = false;
            window.commonPrice = data.price;
            $('.before_calc').removeClass('show');
            $('.calc .price.common').text(String(Number(data.price).toFixed(2)).replace('.', ','));
            $.ajax('{{ url('get_discount') }}', {
            type: 'POST',
            dataType: 'JSON',
            beforeSend: function () {
                if (window.discountInProgress) return false;
                window.discountInProgress = true;
            },
            data: { carAge: $('#carAge').val(), insuranceTerm: $('#insuranceTerm').val() }
            }).done(function (data) {
                window.discountInProgress = false;
                window.discountSum = ((1 - data.discount)*commonPrice);
                var pD = 0;
                var pN = 0;
                if (window.priceDgo) pD = window.priceDgo;
                if (window.priceNs) pN = window.priceNs;
                if (data.discount > 0 && data.discount < 1) {
                    $('.calc .discount .discount').text('- ' + (String(Number(discountSum).toFixed(2)).replace('.', ',')) + '');
                    $('.calc .discount').fadeIn(200).removeClass('hidden');
                    //$('.calc .discount').show();
                    $('.itog').text(String((commonPrice - discountSum + pD + pN).toFixed(2)).replace('.', ',') + ' грн.');
                    $('.discount span').text('-' + Math.round((1 - data.discount)*100) + '%');
                } else {
                    $('.itog').text(String((commonPrice - discountSum + pD + pN).toFixed(2)).replace('.', ',') + ' грн.');
                    $('.calc .discount').fadeOut(200).addClass('hidden');
                    //$('.calc .discount').hide();
                    $('.discount span').text(parseInt(window.discountSum) + '%');
                }
                $('.calc').fadeIn(100).addClass('show');
                window.discountInProgress = false;
            });
        });
    }

    function validateDGO() {
        if (
            $('#respons').is(':checked') &&
            $('#hDisplacement').val() > 0 &&
            $('#insuranceTerm').val() > 0 &&
            $('#hDGOSum').val() > 0 &&
            window.calcDGO == true
        )
            return true;
        else
            return false;
    }

    function calculateDGO() {
        $.ajax('{{ url('get_dgo_price') }}', {
                type: 'POST',
                dataType: 'JSON',
                data: {
                    hDGOSum: $('#hDGOSum').val(),
                    hDisplacement: $('#hDisplacement').val(),
                    hExperience: 1,
                    insuranceTerm: $('#insuranceTerm').val(),
                    taxiUse:$('#taxiUse').is(':checked')?1:0
                }
            }
            ).done(function(data) {
                if (data.priceDgo > 0) {
                    window.priceDgo = data.priceDgo;
                    var cP = 0;
                    var dS = 0;
                    var pN = 0;
                    if (window.commonPrice) cP = window.commonPrice;
                    if (window.discountSum) dS = window.discountSum;
                    if (window.priceNs) pN = window.priceNs;
                    $('.calc .dgo').text(String((data.priceDgo.toFixed(2))).replace('.', ','));
                    $('.calc .dgo').parents('.white_box').fadeIn(300).removeClass('hidden');
                    $('.itog').text(String(((cP - dS) + data.priceDgo + pN).toFixed(2)).replace('.', ',') + ' грн.');
                }
            });
    }

    function removeDGO() {
        if ($('#respons').is(':checked')) $('#respons').trigger('click');
        //if ($('#respons').is(':checked')) $('#respons').removeAttr('checked');
        $('.price.dgo').text('');
        $('.price.dgo').parents('.white_box').fadeOut(300).addClass('hidden');
        $('.price.dgo').parents('.white_box').hide();
        $('.box_line.responsibility').removeClass('focus');
        $('.responsibility').find('.disabled_shadow').addClass('show');
        var pN = 0;
        if (window.priceNs) pN = window.priceNs;
        $('.itog').text(((window.commonPrice - window.discountSum) + pN).toFixed(2) + ' грн.');
        window.priceDgo = null;
    }

    function validateNS() {
        if ($('#passenger').is(':checked') &&
            $('#hNSSum').val() > 0 &&
            $('#passengersCount').val() >= 0 &&
            window.calcNS == true
        )
            return true;
        else
            return false;
    }

    function calculateNS() {
         $.ajax('{{ url('get_ns_price') }}', {
            type: 'POST',
            dataType: 'JSON',
            data: {
                hNSSum: $('#hNSSum').val(),
                passengersCount: $('#passengersCount').val(),
            }
        }
        ).done(function(data) {
            if (data.priceNs) {
                window.priceNs = data.priceNs;
                var cP = 0;
                var dS = 0;
                var pD = 0;
                if (window.commonPrice) cP = window.commonPrice;
                if (window.discountSum) dS = window.discountSum;
                if (window.priceDgo) pD = window.priceDgo;
                $('.calc .ns').text(String((data.priceNs.toFixed(2))).replace('.', ','));
                $('.calc .ns').parents('.white_box').fadeIn(300).removeClass('hidden');
                $('.itog').text(String(((cP - dS + pD) + data.priceNs).toFixed(2)).replace('.', ',') + ' грн.');
            };
        });
    }

    function removeNS() {
        if ($('#passenger').is(':checked')) $('#passenger').trigger('click');
        //if ($('#passenger').is(':checked')) $('#passenger').removeAttr('checked');
        $('.price.ns').text('');
        $('.box_line.passengers').removeClass('focus');
        $('.price.ns').parents('.white_box').fadeOut(300).addClass('hidden');
        $('.price.ns').parents('.white_box').hide();
        $('.passengers').find('.disabled_shadow').addClass('show');
        var pD = 0;
        if (window.priceDgo) pD = window.priceDgo;
        $('.itog').text(((window.commonPrice - window.discountSum.toFixed(2)) + pD).toFixed(2) + ' грн.');
        window.priceNs = null;
    }

    function clearForm()
    {
        $('.calc .ns').parents('.white_box').addClass('hidden');
        $('.calc .dgo').parents('.white_box').addClass('hidden');
        $('.prices-container').hide();
        $('.calc').removeClass('show');
        $('.before_calc').addClass('show');
        $('.calc .discount').addClass('hidden');
        $('.category.your_auto').removeClass('all_verified');
        $('.category.options').hide();
        $('#carBrand').val(null);
        $('#carBrand').parents('.combo').find('.current').text('Выбрать марку');
        $('#scrollbar1').find('li.active').removeClass('active');
        $('#hCarModel').val(null);
        $('.box_line.model').hide();
        $('#modelList').html('<a class="change_link">изменить</a>');
        $('#carAge').val(null);
        $('.box_line .discount').hide();
        $('#carAgeList').find('.current').removeClass('current');
        $('.box_line.year').hide();
        $('#hDisplacement').val('1.7');
        $('#slider1').slider('value', 1);
        $('.box_line.volume').hide();
        $('#registerRegion').val(null);
        $('.place .combo .current').html('Выбрать область');
        $('#scrollbar2').find('.active').removeClass('active');
        $('#registerCity').val(null);
        $('.town .combo .current').html('Выбрать город');
        $('#scrollbar3').find('ul').html('');
        $('#insuranceTerm').val(12);
        $('.box_line.place').hide();
        $('.term .combo .current').html('1 год');
        $('#scrollbar4').find('li[data-value="12"]').addClass('active');
        $('#taxiUse').removeAttr('checked');
        $('#taxiUseNot').attr('checked','checked');
        $('#respons').removeAttr('checked');
        $('.responsibility .disabled_shadow').addClass('show');
        $('#hDGOSum').val(100000);
        $('.price.dgo').text('');
        $('.price.dgo').parents('.white_box').hide();
        $('#inputrespons').css('background-position', '0px 0px');
        $('#slider2').slider('value', 1);
        $('#passenger').removeAttr('checked');
        $('.passenger_line .disabled_shadow').addClass('show');
        $('#passengersCount').val(0);
        $('#slider2').slider('value', 1);
        $('#hNSSum').val(10000);
        $('.price.ns').text('');
        $('.price.ns').parents('.white_box').hide();
        $('#inputpassenger').css('background-position', '0px 0px');
        window.commonPrice = null;
        window.discountSum = null;
        window.priceDgo = null;
        window.priceNs = null;
        $('#taxiUseNot').trigger('click');
        $('#brandList').parents('.combo').find('.arrow').trigger('click');
        $.ajax('{{path('clear_calculation')}}', { type: 'POST' });
    }
{% if carBrand is null %}
    $(document).ready(function () {
        $('#brandList').parents('.combo').find('.arrow').trigger('click');
    });
{% endif %}
    $('#carBrand').on('dataavailable', loadModels);
    $('#registerRegion').on('dataavailable', loadCities);
    $('.change_link').on('click', loadModels);
    $('#carAgeList li').on('click', selectCarAge);
    $('#registerCityList li').on('click', selectCity);
    $('.box_line').hover(function() {
            $(this).find('.fixed_pop_up').show();
        },
        function(){
            $(this).find('.fixed_pop_up').hide();
        }
    );
    //!!!!!!!!!!!!!!!!!!Validate data and process prices
    $(document).ready(function(){
        //FIRST OF ALL CHECK HASH AND if #clear exists clear all calculations
        if(window.location.hash == '#clear') clearForm();
    //handle checkboxes events to add/remove additional insurance
    $('#respons').on('click', function(e){
        if ($(this).is(':checked')) {
            $(this).parents('.responsibility').find('.disabled_shadow').removeClass('show');
            $('.your_auto').find('.box_line').removeClass('focus');
            $(this).parents('.recomend_box').find('.box_line').removeClass('focus');
            $(this).parents('.box_line').addClass('focus');
            window.calcDGO = true;
        } else {
            removeDGO();
        }
    });
    $('#respons').next('label').on('click', function (e) {
        if ($(this).parent().find('#respons').is(':checked')) window.calcDGO = false;
    });
    $('#passenger').on('click', function(e){
        if ($(this).is(':checked')) {
            window.calcNS = true;
            $(this).parents('.passengers').find('.disabled_shadow').removeClass('show');
            $('.your_auto').find('.box_line').removeClass('focus');
            $(this).parents('.recomend_box').find('.box_line').removeClass('focus');
            $(this).parents('.box_line').addClass('focus');
        }
        else {
            removeNS();
        }
    });
    $('#passenger').next('label').on('click', function (e) {
        if ($(this).parent().find('#passenger').is(':checked')) window.calcNS = false;
    })
    $(":input").attr('autocomplete', 'off');
    //Accident checkbox handling
    $('#inputrespons').on('click', function(e){
        if ($('#respons').is(':checked')) {
            $('#respons').parents('.responsibility').find('.disabled_shadow').removeClass('show');
            $('.your_auto').find('.box_line').removeClass('focus');
            $(this).parents('.recomend_box').find('.box_line').removeClass('focus');
            $(this).parents('.box_line').addClass('focus');
            window.calcDGO = true;
        }
        else {
            removeDGO();
        }
    });
    $('#inputpassenger').on('click', function(){
        if ($('#passenger').is(':checked')) {
            $('#passenger').parents('.passengers').find('.disabled_shadow').removeClass('show');
            $('.your_auto').find('.box_line').removeClass('focus');
            $(this).parents('.recomend_box').find('.box_line').removeClass('focus');
            $(this).parents('.box_line').addClass('focus');
            window.calcNS = true;
        }
        else {
            removeNS();
        }
    });
    //Handle remove additional insurance events
    $('.remove_dgo').on('click', function (){
        removeDGO();
    });

    $('.remove_ns').on('click', function (){
        removeNS();
    });
    //Validate data and process values if any
        $('.box_line').on('click', function() {
            if (($(this).parents('.your_auto').length == 1 || $(this).hasClass('term')) && validateCommon()) {
                calculateCommon();
            }//End of common validation

            if ($(this).parents('.options').length == 1 && validateDGO()) {
               calculateDGO();
            }

            if ($(this).parents('.options').length == 1 && validateNS()) {
                calculateNS();
            }
        });

    {# If user authenticated already than process calculated form otherwhise show register form #}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        $('.form_now').on('click', function(){
                $.ajax('{{path('step1')}}', {
                type: 'POST',
                data: $('#calculator-form').serialize()
                }).done(function(data){
                if (data.message == 'success') window.location = '{{path('step2')}}';
                });
                });
        $('.save-calculation').on('click', function(){
            $.ajax('{{path('save_calculation')}}', {
                type: 'POST',
                data: $('#calculator-form').serialize()
            }).done(function (data){
                if (data.message == 'success') {
                    //Show success window
                    $('#success_modal .inform_title').text('Ваш расчет сохранен!');
                    $('#success_modal .inform_text').text('При следующем посещении сайта, на странице калькулятора Вы увидите свой сохраненный расчет для полиса ОСАГО');
                    $('#success_modal .form_green_button').unbind('click');
                    $('#success_modal .form_grey_button').unbind('click');
                    $('#success_modal .form_green_button').on('click', function (){
                        window.location = '{{path('step1')}}#clear';
                        window.location.reload();
                    });
                    $('#success_modal .form_grey_button').on('click', function (){
                        window.location = '{{path('homepage')}}';
                    });
                    $('#success_modal').modal().open();
                }
            });
        });
        {% else %}
        function registerFormShow(){
            $.ajax('{{path('fos_user_registration_register')}}', {
            type: 'GET'
            }).done(function(data){
                if ($('#registration_modal').length == 1)
                    $('#registration_modal').replaceWith(data);
                else
                    $('body').append(data);
                $('#registration_modal').modal().open();
                if (Custom) Custom.init();
            });
        }
        //Registration form load
            $('.form_now').on('click', registerFormShow);
            $('.save-calculation').on('click', function () {
            window.saveCalculation = true;
            registerFormShow();
            });
        {% endif %}

        //Initialize model selection on error and reload
        selectModel();
        {% if app.session.get('dgoSum')%}
        window.calcDGO = true;
        {% endif %}
        {% if app.session.get('nsSum')%}
        window.calcNS = true;
        {% endif %}
        //Check fields and get prices
        if (validateCommon()) calculateCommon();
        if (validateDGO()) calculateDGO();
        if (validateNS()) calculateNS();
    });//End of document ready
    //Passengers count arrows events
    $('.arrow').on('click', function (){
        if ($(this).hasClass('plus')) {
            if ($('#passengersCount').val() < 7) $('#passengersCount').val(parseInt($('#passengersCount').val())+1);
        }
        else {
            if ($('#passengersCount').val() > 0)
                $('#passengersCount').val(parseInt($('#passengersCount').val())-1);
            else
                $('#passengersCount').val(0);
        }
    });

    $('.clear_all').on('click', function(){
        clearForm();
    });
    </script>
    {% endblock%}