<p>Здравствуйте, {{order.firstname}} {{order.middlename}}!</p>

<p>Прежде всего позвольте выразить Вам свою благодарность за оказанное доверие нашему сервису.</p>

<p>Мы получили оплату за Ваш заказ на PolisMarket.</p>

<p>--------------------------</p>
<p>Номер вашего заказа: {{order.id}}</p>
<p>--------------------------</p>

<p><b>Детальная информация по заказу:</b></p>
<p>Полис Автогражданки (ОСАГО) - {{order.price|number_format(2, ',', ' ')}} грн</p>
{% if order.priceDgo > 0 %}<p>Расширение ответственности (ДГО) - {{order.priceDgo|number_format(2, ',', ' ')}} грн</p>{% endif %}
{% if order.priceNs > 0 %}<p>Здоровье водителя и пассажиров (НС) - {{order.priceNs|number_format(2, ',', ' ')}} грн</p>{% endif %}
<p><b>Общая сумма Вашего заказа:</b> {{(order.price + order.priceDgo + order.priceNs)|number_format(2, ',', ' ')}} грн</p>

<p>Наш партнер, исполняющий страховые обязательства: ЧАО «СК «БРОКБИЗНЕС».</p>

<p>--------------------------</p>
<p><b>Выбранный Вами способ оплаты:</b> {%- if order.payType == 'cash' -%}Наличными курьеру
{%- elseif order.payType == 'plastic' -%}Пластиковая карта
{%- elseif order.payType == 'privat_card' -%}Карта Приват Банка
{%- elseif order.payType == 'privat24' -%} Приват24
{%- elseif order.payType == 'terminal' -%}Терминал самообслуживания
{%- elseif order.payType == 'webmoney' -%}Webmoney
{%- endif -%}</p>
<p>--------------------------</p>
<p>Наш менеджер свяжется с Вами в ближайшее время для уточнения деталей доставки.</p>

<p>С уважением,<br />
{{siteName}},<br />
Email: {{contactEmail}}<br />
Тел.: {{contactPhone}}
</p>
