<p>Здравствуйте!</p>

<p>Прежде всего позвольте выразить Вам свою благодарность за оказанное доверие нашему сервису.</p>

<p>Вы сохранили расчет по страхованию на сайте <b>PolisMarket</b>.</p>

<p>Для того, чтобы продолжить оформление полиса, Вы можете перейти по ссылке: http://{{siteDomain}}{{path('step1')}}</p>

<p>С уважением,<br />
{{siteName}},<br />
Email: {{contactEmail}}<br />
Тел.: {{contactPhone}}</p>

